[2015-10-28 20:22] frederickfogerty opened #2 "Add an attribute for the new entropy crop mode"
Read more: http://blog.imgix.com/2015/10/21/automatic-point-of-interest-cropping-with-imgix.html

[2015-11-07 07:54] frederickfogerty commented on #2
Done in e6bb1b02

[2015-11-07 07:54] #2 closed

[2016-01-06 18:45] paulstraw opened #7 "Intro + React Questions"
Hey @frederickfogerty, I'm Paul Straw. I'm handling Developer Relations at imgix now, so I'll be working with you a bit to help continue improving react-imgix.

We recently had a customer raise a couple questions about react-imgix, and I wanted to run them by you and hopefully get your thoughts:

* React 0.14 requirement: Do you have any sense of what React 0.13 vs 0.14 usage looks like? I dug on

[2016-01-06 19:11] frederickfogerty commented on #7
Hey Paul!

Congratulations on the new position.

Off the top of my head (I can’t check the repo as I’m on holiday at the
moment), there should be no significant differences in usage between React
0.13 and React 0.14, but only versions below v2(?) are supported on React
0.13 as v2 introduced a React-dom dependency, to migrate to the new api in
0.14.

The only differences I can think of are the lack

[2016-01-06 19:30] paulstraw commented on #7
Awesome, thanks Frederick. Email me paul@imgix.com with your size, color (gray, blue, orange), and address and i'll get the shirt sorted. 😁

[2016-01-06 19:30] #7 closed

[2016-01-11 05:10] frederickfogerty opened #8 "Example on imgix website uses incorrect syntax"
The example at https://www.imgix.com/docs/libraries/react is

[code]

It should be
[code]

[2016-01-11 05:23] paulstraw commented on #8
Great catch, I'll get that fixed up!

[2016-01-11 19:58] paulstraw commented on #8
Should be all set now: https://www.imgix.com/docs/libraries/react

[2016-01-11 19:58] #8 closed

[2016-01-11 23:22] frederickfogerty commented on #8
LGTM :+1:

[2016-02-02 20:29] frederickfogerty opened #11 "Add some usage examples to readme"
It would be helpful to have some different examples, for instance, no cropping, entropy cropping, face cropping, background mode, image mode, etc.

[2016-02-11 18:59] mhurne opened #12 "Add support for signing image URLs"
https://www.imgix.com/docs/tutorials/securing-images

[2016-02-11 19:17] mhurne commented on #12
Err, don't mind me. This doesn't make sense. Can't send the secret needed to sign the URL down to the browser...

[2016-02-11 19:17] #12 closed

[2016-02-18 18:23] samuelcole opened #13 "New version"
Hi, do you mind publishing a new version containing https://github.com/imgix/react-imgix/commit/4034663c7af52b4e400a44fd1942d2910e51259b.

I'm seeing a lot of errors from `Object.assign`, and I believe they are from this component.

[2016-02-18 19:27] paulstraw commented on #13
Hey @samuelcole, good catch. I've published version 2.1.2 to NPM.

[2016-02-18 19:27] #13 closed

[2016-02-19 02:24] frederickfogerty commented on #13
:rocket:

[2016-02-19 02:27] frederickfogerty opened #14 "Preload blurred/low-res image"
Something like this: https://jmperezperez.com/medium-image-progressive-loading-placeholder/

We have this working internally by hacking around react-imgix. Will probably look to open-source this soon.

[2016-02-19 02:56] paulstraw commented on #14
You might be able to avoid having to deal with this by using `fm=pjpg` instead. This will return a progressive JPEG file that will initially render in a similar fashion, and won't require an additional request.

[2016-02-22 21:52] frederickfogerty opened #16 "Manage component mounted state better"
If the component is unmounted any time `forceLayout` happens, or any other render, it will cause this to throw an error which might make React bail out and crash.

[2016-02-22 21:52] frederickfogerty opened #17 "Respond to component size changes with Mutation Observers"
https://developer.mozilla.org/en/docs/Web/API/MutationObserver

[2016-02-22 21:53] frederickfogerty commented on #14
@paulstraw really? having a look at that now!

[2016-02-22 21:59] frederickfogerty commented on #14
Hey @paulstraw yeah that's a quick fix, but still not really an ideal solution. This enhancement still stands

[2016-02-22 22:00] frederickfogerty commented on #11
@paulstraw any update on this?

[2016-02-23 00:33] paulstraw commented on #11
Hey @frederickfogerty, I haven't had an opportunity to build these examples out yet. I'm really booked up this week, but can try to get it taken care of next week?

[2016-02-25 19:35] frederickfogerty opened #18 "Add mention-bot"
You know, for that sweet PR workflow. Since I don't have ownership anymore ( :sob: ) I can't do this.

### How To Use?

- Go to
 - your project on GitHub > Settings > Webhooks & services > Add Webhook or
 - your organization on GitHub > Settings > Webhooks > Add Webhook
- Payload URL: `https://mention-bot.herokuapp.com/`
- Let me select individual events > Check `Pull Request`
- Add Webhook

And y

[2016-02-25 19:36] paulstraw commented on #18
Oh, that was definitely an oversight. I just re-added you as admin.

[2016-02-25 19:38] paulstraw commented on #18
Just added this though, should be set.

[2016-02-25 19:38] #18 closed

[2016-02-25 19:41] frederickfogerty commented on #18
Hmm... Maybe someone else needs to submit a PR. We'll see how it goes.

[2016-03-14 16:35] tryggvigy opened #21 "Thoughts on option to strip protocol from urls."
Many services return image urls with `http://` as the protocol. If requested over `https://` they will result in errors.

A boolean prop that would strip the protocol from the `src` attribute would be useful for many developers.
[code]

Would you be interested in a PR implementing this?

[2016-03-15 02:15] frederickfogerty commented on #21
@tryggvigy yup! I would accept a PR for that.

I've also thought about adding something like `domain` and then `route` or `image` so the user wouldn't have to worry about joining urls etc. What do you think?

[2016-03-15 15:09] tryggvigy commented on #21
@frederickfogerty Thanks for the swift reply!
I think string concatenation is less of an issue for devs especially with template strings.
On the other hand removing specific parts of a string (e.g. protocol) is more off a hassle.

At least thats my opinion! Keeping the API surface small is awesome. :smile:

With your blessing I will start work on a PR implementing `stripProtocol`
attribute as soon

[2016-04-30 15:18] KristerV opened #23 "agressiveLoad typo"
There seems to be a mismatch in code and docs:

*in the docs*
`aggressiveLoad={bool}`

*in the code*
`aggresiveLoad: false`
https://github.com/imgix/react-imgix/blob/master/src/index.js#L45

[2016-05-03 19:34] paulstraw commented on #23
Hey @frederickfogerty, since this will technically be a breaking change, do you have any issue with me merging it in and then releasing a `3.0.0`?

[2016-05-03 21:45] frederickfogerty commented on #23
@paulstraw I saw this a few days ago and have been thinking about it. We could probably just add `aggressiveLoad` as the same functionality and just deprecate `aggresiveLoad`. Is there really a point in releasing a breaking change just for one spelling mistake? This was the internal debate I was having with myself

[2016-05-07 12:29] anaibol commented on #14
Something like this? https://jmperezperez.com/medium-image-progressive-loading-placeholder/

[2016-05-07 23:21] paulstraw commented on #23
Sorry for the delayed response, I was at RailsConf this week. I think in this case, I'm leaning a bit towards just ripping the band-aid off and doing the breaking change. The library is still relatively young, and I think I'd prefer to just have this done with.

That being said, I don't have super strong feelings about it either way, so I'll defer to you for the final decision. Just let me know, a

[2016-05-10 03:28] frederickfogerty commented on #23
@paulstraw let's just make it breaking then :) I'll let you make the change if you don't mind

[2016-05-10 03:29] frederickfogerty commented on #21
Closing as discussion developed in #22

[2016-05-10 03:29] #21 closed

[2016-05-12 00:44] #23 closed

[2016-05-12 07:27] minfawang opened #25 "Fluid on one dimension"
I'm trying to make the image fluid on only one dimension, but this library seems to not allow me to do it.

One way to resolve it I think is to support float height/width (https://docs.imgix.com/apis/url/size/h). Right now if I pass the props of `height = 1.0` to the component, it outputs an image literally with height of 1px, which is behaving differently from the imgix documentation.

[2016-05-12 07:36] minfawang commented on #25
Although I just found the [image-height](https://github.com/imgix/react-imgix/blob/master/src/support.js#L85) option in the `customParams`, it doesn't work, because the [auto-calculated height](https://github.com/imgix/react-imgix/blob/master/src/index.js#L104-L111) takes precedence and will always overwrite it.

[2016-05-12 11:40] frederickfogerty commented on #25
Hi @minfawang would you be able to provide some sample usage that you are trying to use, and the actual and expected urls? This will help me better understand the problem

[2016-05-12 17:16] minfawang commented on #25
Yes. So I'm trying to let the image fluid only on width. The height will be calculated based on the current width (keeping the aspect ratio). The desired url will have params of `w=node.scrollWidth` and `h=1.0`. Right now I can get that params by passing in the following props:
[code]

However, it doesn't really work in this package, because the height is added to attribute of the `img` html tag d

[2016-05-12 20:11] minfawang commented on #25
I think to make this question more general is: Right now the `height` and `width` props is only able to interpret the input as the actual pixel value. Do you think it make sense to support float value, so the behavior is more aligned with [image API documentation](https://docs.imgix.com/apis/url/size/h) of imgix?

[2016-05-12 20:29] frederickfogerty commented on #25
Sorry, maybe I should have been clearer, the easiest for me is:
**Usage:** `<Imgix fluid height={1.0} />`
**Expected:** `https://foobar.imgix.net/img.jpg?h=1&fm=auto`
**Actual:**  `https://foobar.imgix.net/img.jpg?h=9000&fm=screwed_up`

This allows me to write test cases for your requests so I can ensure I have fixed the problem.

Also for your request to support floats, I see that being valid, so

[2016-05-12 20:31] frederickfogerty commented on #25
I just reread your comments and it seems like the problem with the rendering of the element, not necessarily the request to Imgix, is this correct?

[2016-05-12 21:35] minfawang commented on #25
Yeah. The problem is rendering the element, but not the request.

Because of [this line](https://github.com/imgix/react-imgix/blob/master/src/index.js#L119), the props of `height` is passed down to the element. The image below could explain:

![image](https://cloud.githubusercontent.com/assets/8814693/15231232/b2a45dde-184e-11e6-86b7-52e9ce00b294.png)

Look the `img` tag has attribute of `height=1

[2016-05-13 02:24] frederickfogerty commented on #25
Oops.

[2016-05-19 06:13] minfawang commented on #25
So... is there a tentative schedule to fix it? 😸

[2016-05-19 20:14] frederickfogerty commented on #25
@minfawang hey man, sorry, been really busy. I probably won't have time to look at this soon - you can submit a PR if you want and I'll review it, otherwise I will fix it in a few weeks :)

[2016-05-20 07:00] minfawang commented on #25
Totally understand. Just sent a PR. Probably the simplest way to fix it..

[2016-05-22 21:34] #25 closed

[2016-06-06 17:53] minfawang commented on #25
Wonder if we can publish a new release to npm with this update?

[2016-06-07 03:26] frederickfogerty commented on #25
@minfawang done :)

[2016-07-18 15:37] theolampert opened #33 "Unknown Prop Warning in React 15.2.1"
I get this [react warning](https://facebook.github.io/react/warnings/unknown-prop.html) when updating to the latest react version `15.2.1`. As far as I can tell being more explicit about what props are passed to the `img` tag fixes the warning for me. You can see the approach I took on my [fork](https://github.com/theolampert/react-imgix/commit/fa925c43c9671d19d920befaf63ca4b8289a287d). Happy to s

[2016-07-18 18:28] paulstraw commented on #33
Hmm… that `...other` is important in this case to allow things like setting the `alt` attribute. @frederickfogerty, any thoughts on best practices here?

[2016-07-18 18:51] theolampert commented on #33
@paulstraw that makes sense, maybe we can pass whats used by the `img` node rather than all the remaining props?. Let me know what you think.

[2016-07-18 21:35] frederickfogerty commented on #33
So, the idea with `...other` is that it would allow the consumer of the component to pass whatever props they wanted to the `img` or `div`, if they wanted to. Here are a few options to fix this:

1. Remove the above (undocumented) functionality, and go with an implementation like  @theolampert's.
2. Introduce a function through which we pass the props we are going to pass to the component. This fu

[2016-07-19 11:00] theolampert commented on #33
After reading through [this thread](https://github.com/Hacker0x01/react-datepicker/issues/517#issuecomment-230119718) and suggested fixes here are our thoughts. The main thing here is to make sure the lib itself isn't passing anything we *know* shouldn't be on the dom node, if the user passes unsupported props that is their issue.

1. This doesn't work really as it breaks the ability to pass any a

[2016-07-19 21:45] frederickfogerty commented on #33
I do like the fourth option...

But I think we should probably do the fourth option. In the future, if we start handling different img props and start messing with behaviours, we could start running into bad breaking changes, but if we explicitly move the prop from `imgProps` to a base prop, then the user of the component understands that at least we are doing something with it. What do you think?

[2016-07-19 22:11] theolampert commented on #33
@frederickfogerty sounds good, I'm for option three as well - it seems to make the most sense here. I'm happy to submit a pr for this in the next few days unless you'd like to?

[2016-07-21 22:08] #33 closed

[2016-09-06 23:58] kamui opened #41 "Adding an alt prop to imgProps loads a low res image"
This is a very strange bug, but in Firefox and Edge 14, if I add an `alt` tag to the `imgProps` prop, the image loads at 200x100 dimensions. If I remove the alt tag, it works fine. Here's a sample of my code:

[code]

I've tried adding data attributes too, and those work fine too.

Demo: https://github.com/bonobos/react-imgix-alt-bug

[2016-09-07 04:40] frederickfogerty commented on #41
When you say Firefox and Edge, is it just those browsers, or does it happen on all browsers (such as Chrome)?

This is very weird as [this]https://github.com/imgix/react-imgix/blob/46399c50e12d5d58a46eb7cb82cbfc4299bd0689/src/index.js#L120) is literally the only place `imgProps` is used.

Does adding an explicit `width` or `height` stop it rendering at 200x100?

[2016-09-07 05:23] kamui commented on #41
It's only Firefox and Edge 14. It works fine on Chrome and Safari.

If I pass in an explicit width and height it does stop it rendering at 200x100.

[code]

I get `?w=500&h=600`.

[2016-09-07 05:32] frederickfogerty commented on #41
That is bizarre.

Just to clear up - is the image **rendered** at 200x100, or is that the image that's **loaded** (i.e. what is requested from Imgix) is 200x100?

[2016-09-07 05:40] frederickfogerty commented on #41
Okay, so this is a little different to I had previously thought, I'm glad we got that cleared up. I'm taking a look at the source now to see if I can see anything amiss.

[2016-09-07 05:41] kamui commented on #41
Thanks. For some more context, the original image on imgix is 5500x5500.

[2016-09-07 05:55] frederickfogerty commented on #41
So.... to be honest, I have no idea what's going on.

My hunch is that is something to do with the size of the rendered block changing when the alt tag is added. It's not really a surprise that both FF and IE are different to Chrome in this regard. I'm imagining it's something to do with the CSS being applied to the image, and also something that could probably be solved with CSS. Potentially in y

[2016-09-09 00:53] frederickfogerty commented on #41
@kamui any update?

@paulstraw can you take a look at this and see if I've gone wrong somewhere?

I'm proposing we close this if my reasoning above is correct.

[2016-09-09 01:09] paulstraw commented on #41
@frederickfogerty I looked at this earlier and came to the same conclusion as you, unfortunately. It's baffling. Also happy to look at CSS.

[2016-09-09 03:27] kamui commented on #41
Thanks for both looking into this. I had wanted to try to reproduce this in a clean project just to make sure it's not our global css causing the issue, but I haven't had the time. If you want to see an example of this:

https://bonobos.com/jimmy-butler (all the photo images of Jimmy Butler are using the Imgix component)

I also have another example that will be live tomorrow on a different page w

[2016-09-09 18:19] paulstraw commented on #41
@kamui @frederickfogerty I feel like it probably makes sense to close this. If you get around to setting up a reduced test case, feel free to reopen though! I'd love to take a look at that. Sound good to all?

[2016-09-10 20:06] kamui opened #45 "With aggressiveLoad true, on Safari, it's loading full size images"
We've been seeing an issue on Safari, where if we turn on `aggressiveLoad={true}`, every image gets loaded on Safari (mobile and desktop 9.x) with `w=1&h=1` and this fetches the original images sizes. This is bloating the payload and on some phones crashing Safari.

If I inspect source in the Safari inspector, I don't see `w=1&h=1`, I see the correct width `w=400&h=1`. This is made worse if you le

[2016-09-10 20:10] kamui commented on #45
We use https://github.com/kadirahq/react-storybook and I've tested this specific bug with an isolated component render and I see 2 requests, one for the original full size, and one for the smaller size.

[2016-09-11 20:27] frederickfogerty commented on #45
I must not understand, because this is how `aggressiveLoad` is intended to work. Are you setting the dimensions manually, or are you expecting it to work out the dimensions itself? If you are expecting the latter, and don't want the aggressive loading of the image, turn off `aggressiveLoad`.

Hope this helps!

[2016-09-11 20:28] kamui commented on #45
Maybe I don't understand how `aggressiveLoad` is supposed to work, but at the very least, is it supposed to behave the same way on Safari and all other browsers? Because at the very least, we're seeing Safari work completely differently. I'm seeing Safari always make 2 requests for the image, where all other browsers make 1.

[2016-09-21 07:20] frederickfogerty commented on #41
Closing as this has been inactive for a while

[2016-09-28 15:43] andykent opened #49 "Whole HTML page can be unexpectedly requested multiple times"
There is a pretty epic and hard to spot bug in ReactImgix. It took me several hours to track this down as it's very subtle.

We were observing multiple requests to our backend servers for each pageview that included ReactImgix on it. It turns out that there is a subtle browser behaviour where a blank URL is interpreted as 'the current page' this means setting `backgroundImage = url()` will actuall

[2016-09-28 19:01] paulstraw commented on #49
Hey @andykent, thanks so much for this thorough report. It sounds like you've already got one fix in place (which looks sensible to me), and have some good theories on the second fix. Would you like to submit a PR for this? If not, I'm totally happy to work on it, but I just wanted to check since it seems like you've got a really good handle on the problem.

[2016-09-28 21:42] frederickfogerty commented on #49
😱  The new things you learn every day!

Thanks for the bug report @andykent, it seems like you have a pretty firm grasp on the problem. I think the best approach would be to work through the possible solutions you have outlined in order. Is the patch you outlined in user-land, or did you modify the library source? If you have any code that would fix this issue in the source, please feel free to su

[2016-09-28 22:13] andykent commented on #49
We actually fix it in userland by sub-classing the component right now. I can try and have a go at a PR tomorrow though if I get a few mins to spare.

[2016-10-31 20:11] andykent commented on #49
Fixed in #51

[2016-10-31 20:11] #49 closed

[2016-11-01 10:10] andykent commented on #14
We do this on https://www.kindness.org and it's pretty awesome.

I don't have time to make a PR right now but below is the component we use, might be of help to someone who wants to pick this up.

https://gist.github.com/andykent/2574cf9e50a014a7a64ea0ee4b88ab3b

[2016-11-01 21:25] frederickfogerty commented on #14
Looks awesome @andykent, thanks for sharing.

At this stage I'm working on another project which doesn't use imgix, so it doesn't make sense for me to implement it, but maybe in the future I'll start working with imgix again.

[2016-11-02 18:16] modosc opened #55 "any plans to support the <picture> element?"
is supporting `<picture>` in the roadmap at all?

i've hacked this together locally using [processImage](https://github.com/imgix/react-imgix/blob/master/src/support.js) but i'm guessing that's not meant for public consumption. i could try to put a pr together but i'm still sorting through what the api would look like..

[2016-11-02 18:59] frederickfogerty commented on #55
Hey @modosc. Currently I'm not working with react-imgix, so it would be up to @paulstraw at this stage.

[2016-11-02 19:01] paulstraw commented on #55
@modosc That'd be great! Since I don't use React on a daily basis, it would be awesome to get some thoughts from you on idiomatic approaches, etc.

[2016-11-02 19:40] modosc commented on #55
sure - here's what i came up with in my iterations.

one option would be to have a `source` prop to just return a `<source>` element, then combined with a `media` prop you could roll the `<picture>` element on your own:

[code]

another would be to take multiple `srcs` as a prop and generate the above from them:
[code]

the advantage here is that the props passed into `<Imgix>` could be used as de

[2016-11-02 20:39] frederickfogerty commented on #55
I like the last solution. I'm just wondering if we consider creating `ImgixPicture` and `ImgixSource` components, or we use props, such as in the proposed solution.

I think my preference would be to use props, but been to hear your thoughts @modosc

[2016-11-02 21:11] modosc commented on #55
another way would be to export the `Picture` and `Source` classes as static properties of the `Imgix` class - you could access them via `<Imgix.Picture>` / `<Imgix.Source>` ( [react-bootstrap](http://react-bootstrap.github.io/components.html#forms-controls) uses this pattern). it's not super great because it mostly bypasses tree-shaking and can break some optimizations.

i like the prop method tho

[2016-11-02 21:40] frederickfogerty commented on #55
Thoughts on maybe exposing picture and source through a `type='bg | img | picture | source'` property?

[2016-11-03 17:10] modosc commented on #55
i like `type='bg | img | picture | source'` - would still have to support the `bg` prop but maybe we could print some deprecation notice about it going forward.

i think this is enough to start with, thanks!

[2016-11-03 19:06] paulstraw commented on #55
Reading through all this, sounds like you've reached something good. I like the `type='bg | img | picture | source'` idea.

[2016-11-04 17:36] modosc opened #56 "ssr broken when using bg"
when we use server-side rendering and disable client-side js we get an empty `background-image` tag. this is fixed by enabling `aggressiveLoad`.

we don't see the same issue without `bg`, those images load fine.

i think either the docs should be updated to explain this or `aggressiveLoad` should be implicitly enabled when using `bg`, not sure which?

[2016-11-04 17:39] modosc commented on #56
oops i take it back - i can't confirm that things work without `bg` since right now i'm using my hacked version rather than `<Imgix>` directly. so maybe just updating the docs to use `aggressiveLoad` when doing SSR is ok?

[2016-11-04 21:01] #56 closed

[2016-11-04 21:02] paulstraw commented on #56
Thaks @modosc, I just added a note about this to the readme.

[2016-11-18 17:49] modosc commented on #55
one other thing - how would/does this work with the `component` prop? seems like `type` would have to override that in all cases except `bg` so maybe that's the only time when it's respected?

[2016-11-18 21:43] frederickfogerty commented on #55
I think `component` would still act as an override - in the documentation it is specified as an override. If the user wants to use another tag with a `picture` configuration, they should be able to do that. It would be useless to do that, but I think it's important to give that control.

[2016-11-18 22:02] modosc commented on #55
fair enough. i've got some work going on this today, hopefully i'll have something to show soonish.

[2016-11-18 22:21] frederickfogerty commented on #55
Awesome @modosc!

[2016-11-21 17:48] modosc commented on #55
see #60

[2016-12-01 16:41] kamui commented on #41
I created a demo app that displays this issue:

https://github.com/bonobos/react-imgix-alt-bug

On Firefox and Edge 14, go to the network tab in the inspector and watch the imgix urls that get generated. You should see `w=100` is set if you set an alt prop, and if you remove the alt prop, you'll see `w=1`.

[2016-12-01 20:59] #55 closed

[2016-12-01 21:16] frederickfogerty commented on #41
Verified on Firefox `50.0.2` on OSX `10.12`

[2016-12-01 21:22] frederickfogerty commented on #41
This is going to be fun to debug...

[2016-12-01 21:51] frederickfogerty commented on #41
🤕

Firefox (and I'm assuming Edge) use the alt tag in determining the width of the img. On Firefox, this will cause the image width (before the image has loaded) to be something other than `0x0`. On Chrome, a unloaded image will be `0x0`, with or without an alt tag.

React-imgix treats these scenarios differently. For **Chrome**, it will detect that it has no size set on it (from the `0x0` dimensi

[2016-12-02 23:18] kamui commented on #41
That seems like super odd behavior, is that documentation you found that Firefox does this?

Could you initialize the src prop with an inline base64 image (something like this 1x1 image spacer`data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==',`) so it's not in an unloaded state?

[2016-12-16 18:18] willcosgrove opened #62 "Cannot specify min or max width/height"
The width and height params have default values specified by the Imgix component, and appear to take precedence over the min-h, min-w, max-h, max-w params when processed on Imgix.

The end result is, you may be able to specify the min-w, etc.  And it will show up in the URL.  But because the `w` and `h` params are _also_ specified, the min/max params get ignored.

[2016-12-18 22:14] frederickfogerty commented on #62
Hey @willcosgrove. Thanks for the feedback 😄 . Can you elaborate a bit more on what you're using `min-w` and `min-h` for? If we can understand the use-case for those options, we can design a better solution for this, or use something that is already implemented.

[2016-12-19 21:59] kamui commented on #41
BTW, also seeing this behavior in Safari 10.

[2016-12-19 22:04] kamui commented on #41
Another possible solution, could we add an event listener to the image `load` event and detect the dimensions after that event is fired?

[2017-01-15 21:20] Grsmto commented on #45
I'm having the same issue even without the `aggressiveLoad` prop.

[2017-01-15 21:27] superfunkminister commented on #45
+1

[2017-01-25 21:03] victorwhy opened #71 "Include the Imgix.js generated srcset within react-imgix library"
`Imgix.js` is great at what it does, unfortunately due to the nature of the html being generated after the DOM is loaded, there is always a risk of a flicker for the user.

I was looking into using this library instead to create responsive images, but noticed that the fancy srcset generation that `Imgix.js` does isn't part of this library.

It'd be great if we can have it generate that `srcset` li

[2017-01-26 20:13] frederickfogerty commented on #71
Hey @victorwhy. Thanks for the suggestion. Unfortunately, I haven't used `Imgix.js` in a while, can you please provide some more details about what `Imgix.js` does?

AFAIK `react-imgix` does something right now with `srcset`. It would be good to see explicitly what the difference is between the current behaviour and how `Imgix.js` works. 👍  😄

[2017-01-27 17:09] victorwhy commented on #71
@frederickfogerty hi Frederick! thanks for responding.

But yeah, i did notice it did a *bit* with srcset, but i'm looking for something a bit more granular.

for example, if you use `imgix.js` it generates a `src` for every 100px

[code]

@jayeb pointed me here: FYI https://github.com/imgix/imgix.js/blob/master/src/targetWidths.js

[2017-01-30 22:37] frederickfogerty commented on #71
Just to be clear, the benefit from having all those srcsets, is that when the image is server rendered, it doesn't flicker for the user when the `react-imgix` calculates the width of the component and generates the relevant `srcset` attribute, because it already has every relevant `srcset`?

[2017-01-31 19:29] victorwhy commented on #71
it's just much more granular and is able to grab a closer resolution sized image.

i think currently `react-imgix` only serves like a regular resolution, and a dpr 2 type.

This one will serve that, as well as an image that is ~100 pixels away from the actual size of the container, which could save a bunch of space.

Does that make sense?

[2017-01-31 20:59] frederickfogerty commented on #71
I'm sorry, I still don't quite understand the benefit of the `Imgix.js` approach.

From the README of `react-imgix`:

`react-imgix` will server dpr 2 and dpr 3 resolutions for the **current dimensions of the image only**. `react-imgix` will only generate the srcsets that it deems are necessary. This is different (as far as I can see) to Imgix.js, which has a blanket approach.

I'm not sure if the

[2017-01-31 21:26] victorwhy commented on #71
@frederickfogerty so yes, sorry, maybe I didn't make that clear.

For us, a lot of the images we use we upload the full resolution. So a lot of the times they'll be like 2-3MB files, and even with compression theyre still big.

So what Imgix.js does, is if you pass it in a sizes, it'll automatically generate 100 pixel ranges, from the smallest it can go, up to the final range, plus any retina stuf

[2017-01-31 23:11] frederickfogerty commented on #71
`react-imgix` currently achieves the same effect, but in a slightly different way. It measures the actual size of the DOM element, and will generate src sets for the actual size of the DOM element **on the actual rendered page.** Therefore, if the element resizes, or is displayed differently on different devices, it will generate the relevant src sets for that device.

Does this make sense? I can'

[2017-01-31 23:13] frederickfogerty commented on #71
Maybe we could change our approach to using the in-built browser mechanisms, but for now it should be working fine.

[2017-02-01 14:10] victorwhy commented on #71
I don't see that responsiveness happening when I tested it out with the `react-imgix`, unless I'm missing something.

[code]

yields

![image](https://cloud.githubusercontent.com/assets/7387858/22509586/bf056418-e85c-11e6-97e8-379d07539788.png)

which doesn't change regardless of what the width of your viewport is. there is no width parameter getting passed into imgix URL, so there's no way it's b

[2017-02-03 19:03] Josephjbliss commented on #41
Just wondering if there is any update on this?

[2017-02-06 19:19] moaazsidat opened #75 "Support for Mask API"
Hey @frederickfogerty, just wondering if this supports the [imgix Mask API](https://docs.imgix.com/apis/url/mask/mask)?

Doesn't seem to be documented in the `props`, or maybe I'm missing something?

[2017-02-06 19:56] frederickfogerty commented on #75
Hey @moaazsidat. You're right, it does not support it formally. You can try passing mask options using `customProps`, but I can't guarantee it'll work

[code]

[2017-02-06 19:57] frederickfogerty commented on #45
Hey @modosc, are you able to update the `picture` behaviour to fix the bug that @Grsmto has uncovered by any chance?

[2017-02-06 20:33] modosc commented on #45
yeah - let me take a look.

[2017-02-06 23:46] modosc commented on #45
@frederickfogerty maybe i'm misunderstanding, but isn't that the expected default behavior if you don't explicitly provide a width/height to `<Imgix type='img'>`?

[2017-02-06 23:55] Grsmto commented on #45
Yeah the behaviour I detailed seems to be fine. So it may not be related to the original issue.

[2017-02-07 00:01] frederickfogerty commented on #45
Cheers @modosc - it's meant to render at the size of the image in the DOM by default, but it sounds like if this is server rendering, then there is no size of the image, and so it's back to the original issue. Thanks!

[2017-02-07 00:04] modosc commented on #45
yeah, that's what i'm seeing here too. maybe we should emit some sort of warning if that's happening (ie, if we assemble any url with `h=1&w=1`? anyway i'm unassigning this for now. i spent a few minutes trying to figure out what was happening in safari without any luck.

[2017-02-14 17:24] theolampert commented on #75
@moaazsidat I think @frederickfogerty mean to refer to `customParams` not `customProps`. I had a quick look and was able to get this work by doing the following:
[code]

However I wasn't able to pass any further options to the custom parameter eg `ellipse&w=250&h=250` does not work. This looks to be an issue with how `jsUri` is used

[2017-03-21 20:23] modosc commented on #45
something else i noticed yesterday in my work's codebase - you not only have to have a width/height on the parent element but it also needs to be the maximum width/height of any of the `<source>` elements that may be inside of the generated `<picture>`. so this:
[code]

will load the 400x100 image on a large screen but will only display it as 100x100 (at least in chrome and safari)

i _think_ this

[2017-03-21 21:30] frederickfogerty commented on #45
Yeah that sounds like a bug @modosc.

Exposing a prop like `fallbackImageDimensions` could be a good idea here to set the fallback dimensions, and have the `width` and `height` set the `picture` element's props (as it does now).

[2017-03-21 22:14] modosc opened #90 "width and height don't do the right thing when they differ from width and height of sources"
moved from [here](https://github.com/imgix/react-imgix/issues/45#issuecomment-288206488)

something else i noticed yesterday in my work's codebase - you not only have to have a width/height on the parent element but it also needs to be the maximum width/height of any of the `<source>` elements that may be inside of the generated `<picture>`. so this:
[code]

will load the 400x100 image on a large

[2017-03-21 23:07] frederickfogerty commented on #90
Exposing a prop like fallbackImageDimensions could be a good idea here to set the fallback dimensions, and have the width and height set the picture element's props (as it does now).

Thoughts @modosc?

[2017-04-10 16:31] modosc opened #101 "react 15.5 upgrade"
i think it's just `{ PropTypes }` -> `prop-types`, testing now

[2017-04-10 16:31] modosc commented on #101
also some warning from other packages:

glenjamin/skin-deep#86

[2017-04-10 17:00] modosc commented on #90
sorry i dropped this thread.

i think that may be more complicated than we need since it requires some forethought on the user's part. in my testing (and in our codebase) just taking the max height/width passed in for the parent solves this problem.

[2017-04-12 17:31] modosc commented on #101
#104 should solve the other warnings.

@frederickfogerty at this point would we just bump up the react requirements to 15.5 and bump the major version or is there other refactoring you had in mind?

[2017-04-12 19:14] frederickfogerty commented on #101
@modosc I was going to bump the minimum react requirement to 15.0.

I also had something else I wanted to refactor as this was a breaking change. There is a deprecated prop which we can now remove since we're making a breaking change. https://github.com/imgix/react-imgix/blob/master/src/index.js#L41

[2017-04-22 10:36] theolampert commented on #75
@frederickfogerty maybe this can be closed if we add an example under `customParams` in the readme? I can make a PR for this if you like.

[2017-04-22 11:04] frederickfogerty commented on #75
That would be great @theolampert

[2017-04-22 12:11] theolampert commented on #75
@frederickfogerty done, you can take a look [here](https://github.com/imgix/react-imgix/pull/109)

[2017-04-22 20:16] #75 closed

[2017-05-04 20:31] modosc commented on #101
@frederickfogerty i'm happy to take this on to get a release ready - is it just the above items?

[2017-05-04 21:41] #101 closed

[2017-05-04 21:44] #62 closed

[2017-05-04 21:44] #11 closed

[2017-05-04 21:44] #16 closed

[2017-06-29 19:53] ultimagriever commented on #62
Was this actually solved or just closed? Because I'm trying to use `max-w` and `max-h` as well and it's not working, they're not being passed to the URL at all. I want the user to be able to upload images with any dimensions and ratios, but they can't overflow a component's boundaries, hence the `max-w` and `max-h`.

[2017-07-04 13:56] wichert commented on #71
For what it's worth I ended up using imgix.js itself with React:

[code]

[2017-07-16 04:41] oyeanuj commented on #14
@frederickfogerty Curious where you ended up with this?

For anyone around: It seems like the options are to either load a progressive JPEG  or load a really small image and scale it for blur or use @andykent's solution above to load a custom blurred image until the main one is loaded?

[2017-07-17 02:11] frederickfogerty commented on #14
@oyeanuj I didn't make any progress with this.

Thanks for the note. Would you be interested in implementing for this library? If not, I'm going to close this issue, as I won't be implementing this.

[2017-07-17 02:13] oyeanuj commented on #14
@frederickfogerty I can definitely share my solution if I can find some consensus or recommended way of implementing this. Any thoughts there?

[2017-07-17 03:00] frederickfogerty commented on #14
@oyeanuj I'm sure it would be valuable to share your solution in a gist at least, and then if this gathers more interest we could implement it internally.

[2017-07-17 03:00] #14 closed

[2017-07-18 23:07] oyeanuj opened #115 "Support for sizes, and width descriptors"
Hey @frederickfogerty, thanks for putting out this library. Somewhat connected to #71, but while trying to use to do responsive images, I noticed that the library doesn't currently support `sizes` prop for `<img>`, or width descriptors (density descriptors seem to be supported via `dpr`) within `srcSet`.

Not sure if I missed something, or if there was a reason for that? If not, would this be some

[2017-09-22 07:15] sergejr opened #117 "Lazysizes with react-imgix"
Hey, is there an opportunity to use react-imgix with lazysizes?
If yes, how?

Thanks.

[2017-10-20 20:06] nickhavenly opened #118 "Background URLs containing parenthesis do not display"
I ran into an edge case where certain URLs in our buckets have a left parenthesis `(` as part of the URL string. This breaks the `background-image:` style resulting in a blank image.

I did a little testing locally and found line 150 to be the culprit:
https://github.com/imgix/react-imgix/blob/facbbdd3c48f205acd7ae7dc2947020a2fb4715d/src/index.js#L150

A quick test adding single quotes around the

[2017-10-25 20:23] frederickfogerty commented on #118
Hey @nickhavenly, sorry about the delay -- is this something you would be interested in submitting a PR for?

[2017-10-25 20:50] nickhavenly commented on #118
Sure thing, I'll have that up in a few.

[2017-10-25 21:24] #118 closed

[2017-11-10 19:43] #17 closed

[2017-11-16 17:30] modosc opened #121 "should we add node 8/9 to travis.yml?"
also any reason 7 is the oldest node supported?

[2017-11-16 17:31] modosc opened #122 "why use package-lock.json and yarn.lock?"
it's difficult to keep these synchronized, seems like one or the other is sufficient (yarn would be my preference but either or is ok).

[2017-11-17 19:40] frederickfogerty commented on #122
Haha funny you mention this - I was just about to remove this after I merged your PR 😌 I don't why we have both, I only realised once I saw them both in your PR.

[2017-11-17 19:47] #122 closed

[2017-11-17 19:48] frederickfogerty commented on #121
👍🏿

[2017-11-17 19:49] #121 closed

[2017-12-12 21:58] danielfarrell commented on #45
I found that I could get a working solution for us by using `defaultHeight` and `defaultWidth` props along with `aggressiveLoad`.  We use it with Gatsby for static site generation, and Safari was causing issues by not getting updated.  This solution of setting mobile height/width is "good enough" for our use case though.  Those props are not documented, but are used here: https://github.com/imgix/

[2018-01-04 16:35] kamui commented on #41
It looks like this might be resolved. I recently tested this on Edge 15 and 16 and Firefox 56 and 57 and could not replicate the blurry image issue.

[2018-01-11 19:08] panayi opened #127 "Setting width (height) props, sets the width (height) on the <img> tag"
This:

[code]

outputs an `img` with width and height props:

[code]

Which renders this:

![image](https://user-images.githubusercontent.com/707005/34842155-4f24b1aa-f713-11e7-8351-ef17fcc37bc8.png)

instead of this:

![image](https://user-images.githubusercontent.com/707005/34842200-76c6dc92-f713-11e7-9545-7acd7128ef0d.png)

[2018-01-14 19:36] frederickfogerty commented on #127
Hey there,

Using `defaultWidth` and `defaultHeight` seems to fix this issue for me.

[code]

Renders

<img srcset="https://assets.imgix.net/unsplash/bridge.jpg?auto=format&amp;dpr=2&amp;crop=faces&amp;fit=fill&amp;w=87&amp;h=87 2x, https://assets.imgix.net/unsplash/bridge.jpg?auto=format&amp;dpr=3&amp;crop=faces&amp;fit=fill&amp;w=87&amp;h=87 3x" src="https://assets.imgix.net/unsplash/bridge.jpg?

[2018-03-10 22:22] oyeanuj commented on #115
@frederickfogerty Just following up here, if you had any thoughts on this? Thank you!

[2018-03-10 22:25] oyeanuj opened #128 "Support for Color Palette Extraction"
**type:** feature request

**react-imgix version:** `v1.0`

Just wondering if there are any plans to add support for Color Palette Extraction either as part of `Imgix` component or as another component?

https://docs.imgix.com/apis/url/color-palette/palette

Thank you!

[2018-03-12 03:07] frederickfogerty commented on #115
Hey there @oyeanuj!

I don't know a lot about `sizes`, and `srcSet` - could you please outline what you think the advantages and use cases (examples) of implementing each feature you've described would be? From there we can assess whether it should be added to the API.

Thanks :)

[2018-03-12 03:10] frederickfogerty commented on #117
Hey there @sergejr 😄

I have no experience with `lazysizes`, so I cannot help in getting it working with this library. Is this something that is very important to you?

[2018-03-12 03:15] frederickfogerty commented on #128
Hey there @oyeanuj. Thanks for the suggestion!

What would be the use case for using such a component (`Imgix` or otherwise) for Color Palettes?

[2018-03-12 19:15] frederickfogerty commented on #117
I've never heard of the "qlip method", and I can't find anything online. I'm curious, what is it?

[2018-03-12 19:36] sergejr commented on #117
Sorry, It was LQIP.. My fault.
It works with a data-src attribute.
https://blog.imgix.com/2016/06/01/lqip-your-images.html
With the React Imgix Component and the usage of the Picture Tag it's not possible to pass a data-attribute with another Image Source. Would be great to archive a Preload "Animation". Or do you have another idea?

Currently I've added customParameter and after this I've written

[2018-03-12 19:42] frederickfogerty commented on #117
Oh cool! We talked about this in #14, but I never got round to implementing it as I didn't need it for my use back then...

Can you share the specifics (i.e. code) of what you're doing now? And would you be interested in contributing this to the library yourself?

[2018-03-12 20:18] sergejr commented on #117
Here's an example:
https://gist.github.com/sergejr/db8d481e576ba60ea89fdd185fd4207b

[2018-03-12 20:32] frederickfogerty commented on #117
As that example works with the DOM directly, I'm not comfortable working that into the main component, but a version of this could be worked in to use React state, etc to perform the same effect. Is this something you'd be interested in working on?

[2018-03-12 20:35] sergejr commented on #117
That's true. I was looking for a Solution without working inside the Package Core to allow further updates.
Yes, I would be interested in working on that Feature.

[2018-03-12 20:42] frederickfogerty commented on #117
Awesome @sergejr 🚀

The first step would be to work out and agree on an API for the feature (aiming to keep it as simple as possible), and then implementing the feature inside the component.

I'll be available here if you need any help.

[2018-03-19 23:54] AdamPflug opened #129 "Support Variable Qualities for SrcSet"
**type:** feature request

When working with SrcSets I find it's pretty important to specify lower encoding qualities for the high-dpi images, otherwise you end up with your largest file sizes being served to mobile devices (which are most sensitive to file size). This is because phones/tablets tend to both display images full width instead of in columns, and are more likely to have high DPI scree

[2018-03-22 00:01] frederickfogerty commented on #129
Hey Adam!

Thanks for the great suggestion! Your API does seem like an intuitive one, and would be a welcome addition to this library.

Unfortunately I can't commit time to this project at the moment, and as such I can't guarantee I'd be able to develop this. If you have some time and would be happy to contribute this to the repository, I'd happily take a PR for this!

Cheers, Fred

[2018-03-25 02:13] oyeanuj commented on #128
@frederickfogerty A classic case for this as placeholder for images waiting for them to load. You'll see this on Google Images, or Pinterest where a color from the image is used as the placeholder. For all of that, you'd need the color palette.

[2018-04-20 17:20] harrisrobin opened #130 "LQIP Images"
**type:** feature request

**react-imgix version:** `v1.0`

It would be nice to have medium.com style progressive loading, like [this](https://github.com/GraphCMS/graphcms-image) and have a component to load imgix images. The need for the former made me not want to use this component, both would be great.

I would imagine a prop to enable it, and then by providing an imgix url it would do what gra

[2018-04-30 21:24] cainlevy opened #131 "Expose url generation function from react-imgix to support custom url generation"
**type:** feature request

**react-imgix version:** `v1.0`

**Code**

[code]

**Expected behavior:**

react-imgix exports a function that returns a Imgix URL with as many of the react-imgix options and defaults as make sense. (no auto-sizing)

**Actual behavior:**

react-imgix only exports a component

**Workaround:**

Do not use `<video poster />`. Instead render an image with a click handler tha

[2018-05-04 23:58] frederickfogerty commented on #130
Hey man,

Funnily enough this was one of the first ideas I had with this library, but never got around to making it. It can somewhat be faked by using a `pjpg`, but there's not first class support for it right now.

As you may have seen in other issues, I can't commit time to this project right now, but I'd happy help you develop this and accept a PR for it if you wanted :)

[2018-05-05 01:37] harrisrobin commented on #130
@frederickfogerty Sure! I'd be interested in submitting a PR for this.

Let me look into it next week and see if I can come up with something and I'll mention you in the PR to get your take on it.

Cheers

[2018-06-08 13:34] woss opened #132 "Picture Support for Responsive images not working"
**type:** question

**react-imgix version:** `7.1.1`

**Code**

[code]

**Actual behavior:**
For some reason it resizes it to really finny size.

[![Screen_Shot_2018-06-08_at_15.25.22.png](https://s22.postimg.cc/mdwthep0x/Screen_Shot_2018-06-08_at_15.25.22.png)](https://postimg.cc/image/qaa5dea0d/)

React Version: 16.3.2

[2018-06-09 00:52] frederickfogerty commented on #41
Closing this as it seems to be resolved. Please comment or open a new issues if you have any issues related to this issue.

[2018-06-14 01:51] Krucial92 opened #139 "SSR markup does not contain image src attribute"
**type:** bug

**react-imgix version:** `v7.1.1`

**Code**

[code]

**Expected behavior:**
I am server-side rendering my whole application, when my HTML markup is generated the image src tag does not exist. In the example code above I have provided a normal image tag as well as one with Imgix, and the rendered markup is different between the two. For example my code above generates the following m

[2018-06-14 01:56] frederickfogerty commented on #139
Hey @Krucial92 👋 thanks for the bug report! Due to the 2-step render that this component undergoes in order to work out the rendered size on the client, it renders an empty image on the first pass.

For server rendering to work the way you intend, use the `aggressiveLoad` prop, e.g. `<Imgix aggressiveLoad src="..." />`.

Please let me know how this goes for you. We're in the process of updating th

[2018-06-14 03:01] Krucial92 commented on #139
Hey @frederickfogerty, thanks so much for your quick reply and resolution. I'm sorry I must have missed that option when I was scrolling through the available props (duh, my bad).

Have just used `aggressiveLoad` and it generates the markup perfectly as expected.

Thanks for the library, and your help. Cheers.

[2018-06-14 03:03] #139 closed

[2018-06-14 03:03] frederickfogerty commented on #139
All good @Krucial92, I'm going to close this now as it seems to be resolved. I'll look to add an example usage for server-side rendering in the docs.

[2018-06-14 04:01] frederickfogerty opened #140 "Add use case examples to docs"
**type:** suggestion

Most of the time, the combinations of props that should be used to support a particular use case is not clear. There should be some examples of common use cases to help users find the combination of props that will work for their use case.

Use cases:

- Basic use case
- Server-side rendering (see #139)
- Flexible image rendering (similar to basic but explained more)
- Fixed

[2018-06-14 04:40] frederickfogerty opened #141 "Increase usefulness of test suite"
To increase the usefulness of the test suite in covering real usage of this library, the following test cases should be covered. This is a living issue, so this list will increase as the issues are worked through.

- [ ] When using a custom component > when in image mode

[2018-06-18 22:35] kamui commented on #41
@frederickfogerty We can still reproduce this bug. Are you not able to reproduce it? I've also bumped the versions of react and react-imgix in the bug repo here: https://github.com/bonobos/react-imgix-alt-bug

[2018-06-18 22:38] frederickfogerty commented on #41
Hey @kamui what browsers/OS versions are you reproducing this in?

[2018-06-18 22:44] kamui commented on #41
Safari 11.1.1
Firefox 60.0.2

Here's a screenshot of both browsers. This works fine on Chrome.

![screen shot 2018-06-18 at 6 42 30 pm](https://user-images.githubusercontent.com/2255/41566029-8e27baf6-7327-11e8-8ef4-77380369bde9.png)

[2018-06-18 23:34] frederickfogerty commented on #41
Thanks @kamui. I'll reopen this to see what we can do here.

[2018-06-20 21:44] frederickfogerty opened #142 "Add ixlib parameter to URLs to support debugging from Imgix team"
**Before you submit:**

- [x] Please search through the existing issues (both open AND closed) to see if your feature has already been discussed. Github issue search can be used for this: https://github.com/imgix/react-imgix/issues?utf8=%E2%9C%93&q=is%3Aissue
- [x] Please take a moment to find out whether your idea fits with the scope and aims of the project

**Is your feature request related to a

[2018-06-24 23:40] frederickfogerty commented on #49
I just wanted to comment here as I've changed the solution to this issue in order to help #41. With no `src` tag, an `<img />` is invalid, and behaves unexpectedly in some browsers (renders a `0 x line-height` box in FF). I've updated the src to be `//:0`, which is an invalid url (port can't be 0), but it makes the image render properly. More information can be found [here](https://stackoverflow.c

[2018-06-26 03:29] frederickfogerty commented on #90
I've been thinking about this a bit and I think the best solution here is to require the user to pass a fallback `img` in all cases, rather than providing one for them. In pure HTML users are required to provide a fallback `img`, so this is actually closer to the spec than what we have. This allows us to use the `width` and `height` parameters for what they should be - setting the width and height

[2018-06-26 06:13] frederickfogerty opened #144 "v8 Breaking Changes Discussion"
There are some things that may be good ideas to change in the next release as a breaking change. I've created this issue to track these discussions.

## Ideas

### Reducing the "magic"

This library does some things by default which may not make sense for the average Joe who stumbles across this component. To reduce the number of surprises for new users, these changes could be made:

- change `fac

[2018-06-26 16:31] jayeb commented on #144
I am extremely in favor of all four of the things you've proposed here.

[2018-06-26 17:12] modosc commented on #144
wrt the image component change - i think that’s a place where we potentially want the magic to happen (to work around the safari bug, to remove the need to provide yet another img component, etc). in both of those situations things may appear to work fine without but end up breaking in edge cases.

i like the idea of specific components for the various modes - that would definitely simplify the pr

[2018-06-26 21:01] frederickfogerty commented on #144
Good to see support for specific components :smile:

@modosc Would you mind going into a bit more detail about the "image component change"? I'm not sure which change is being referred to here.

[2018-06-26 21:37] frederickfogerty commented on #41
Hey @kamui I've implemented a fix for this in #146 - if this issue is still relevant for you, I'd appreciate if you could give this a review 🙌

[2018-06-27 03:20] #142 closed

[2018-06-28 02:47] frederickfogerty opened #148 "Pull Requests fail for non-contributor PRs due to Travis not setting environment variables."
Currently, Pull Requests submitted by non-contributors fail on CI because the integration tests fail. This is because Travis does not provide environment variable to outsiders' Pull Requests for safety reasons, and so the tests cannot log in to BrowserStack.

The testing logic can be updated to run integration tests for contributors, and just headless tests on chrome for others.

See [here](https:

[2018-06-28 04:19] kamui opened #149 "Picture tag with generateSrcSet with an undefined src generates links to 2x, 3x urls"
If you use `type=picture` and then use `generateSrcSet`, but the `src` is falsey or undefined, then the output will still render a `srcset` that looks like `(unknown), 2x, 3x`. Why is this a problem? The browser will treat the `2x` and `3x` as images and try to prefetch one of the `source` tag urls and it'll 404.

The expected behavior I'm not sure about. It could generate no `source` tags if the

[2018-06-29 03:02] #148 closed

[2018-06-29 23:11] frederickfogerty commented on #149
Hey @kamui, I saw this a few days ago and thought I understood it, but digging into this a few questions have arisen.

Is this issue for when the developer passes `src={undefined}` to the component? Or is this an issue with react-imgix internals passing a falsy src to itself? I just want to clarify this before I investigate any further.

[2018-07-01 20:22] frederickfogerty commented on #45
I'm going to close this as there doesn't seem to be a reduced test case I can work with. Please comment here or open a new issue if anyone has issues in the future.

[2018-07-01 20:22] #45 closed

[2018-07-01 21:07] frederickfogerty opened #153 "Can render more eagerly in certain situations than does at the moment."
**Before you submit:**

- [x] Please search through the existing issues (both open AND closed) to see if your feature has already been discussed. Github issue search can be used for this: https://github.com/imgix/react-imgix/issues?utf8=%E2%9C%93&q=is%3Aissue
- [x] Please take a moment to find out whether your idea fits with the scope and aims of the project

**Is your feature request related to a

[2018-07-01 21:09] frederickfogerty commented on #127
I'm going to close this issue due to inactivity. If this still an issue please comment on this issue or open a new issue.

[2018-07-01 21:09] #127 closed

[2018-07-02 22:54] #140 closed

[2018-07-03 21:47] frederickfogerty commented on #90
This will be fixed in the next major version, 8.

[2018-07-04 07:16] rishabh09 opened #157 "Need Support for image load error"
need onError prop or something, when some image give error like 404. I need to revert to some other image or some other action according to need

[2018-07-04 21:50] frederickfogerty commented on #157
Hey there @rishabh09, please open a new issue using one of the issue templates. This allows us to have a better discussion about what type of issue you're having and about potential solutions. We don't discuss issues that are not submitted using one of these templates.

[2018-07-04 21:50] #157 closed

[2018-07-26 20:21] frederickfogerty commented on #153
This will be fixed in the next major version, v8.

[2018-07-26 20:21] frederickfogerty commented on #115
This will be fixed in the next major version, v8.

[2018-07-26 20:22] #115 closed

[2018-07-26 20:22] #153 closed

[2018-07-26 20:22] #90 closed

[2018-07-26 20:22] frederickfogerty commented on #71
This will be fixed in the next major version, v8.

[2018-07-26 20:22] #71 closed

[2018-07-26 22:31] frederickfogerty opened #160 "Add background mode back"
**Before you submit:**

- [x] Please search through the existing issues (both open AND closed) to see if your feature has already been discussed. Github issue search can be used for this: https://github.com/imgix/react-imgix/issues?utf8=%E2%9C%93&q=is%3Aissue
- [x] Please take a moment to find out whether your idea fits with the scope and aims of the project

**Is your feature request related to a

[2018-07-26 23:39] frederickfogerty opened #161 "Ability to set aspectRatio"
**Before you submit:**

- [x] Please search through the existing issues (both open AND closed) to see if your feature has already been discussed. Github issue search can be used for this: https://github.com/imgix/react-imgix/issues?utf8=%E2%9C%93&q=is%3Aissue
- [x] Please take a moment to find out whether your idea fits with the scope and aims of the project

**Is your feature request related to a

[2018-08-13 22:01] frederickfogerty commented on #131
Hey @cainlevy we've decided that this is worth implementing. We can't commit to a timeline for this yet, but I'll keep this issue updated 👍

[2018-08-13 23:48] frederickfogerty commented on #129
Hey there @AdamPflug - I'm now working for Imgix now, so I have more time to dedicate to features like this. After speaking with the team, we think is a great idea and we'll look to support this (or something with the same effect) soon - I can't give an exact timeline unfortunately.

[2018-08-13 23:50] frederickfogerty commented on #130
Hey @harrisrobin we're looking to implement first class support for lazysizes, which should provide support for LQIP images 👍 I'm gonna close this for now.

[2018-08-13 23:51] frederickfogerty commented on #128
Hey @oyeanuj we're looking to implement first class support for lazysizes, which should provide support for LQIP images 👍 I'm gonna close this for now.

[2018-08-13 23:51] #128 closed

[2018-08-13 23:51] #130 closed

[2018-08-14 00:01] #141 closed

[2018-08-14 16:57] AdamPflug commented on #129
Sounds great, thanks!

[2018-08-16 22:29] frederickfogerty commented on #149
I'm closing this due to inactivity.

[2018-08-16 22:29] #149 closed

[2018-08-16 22:30] frederickfogerty commented on #132
Sorry for the radio silence, this should be fixed in the latest version of Imgix.

The problem here was that the fallback image was rendering at a width of `1400px`, which caused all the other sources to render at that resolution too.

[2018-08-16 22:30] #132 closed

[2018-08-23 01:28] cecchi opened #164 "Incorrect warning about a missing fallback image"
**Before you submit:**

- [x] Please search through the existing issues (both open AND closed) to see if your issue has been discussed before. Github issue search can be used for this: https://github.com/imgix/react-imgix/issues?utf8=%E2%9C%93&q=is%3Aissue
- [x] Please ensure the problem has been isolated and reduced. This link explains more: http://css-tricks.com/6263-reduced-test-cases/

**Descr

[2018-08-26 20:51] frederickfogerty commented on #164
Hi there @cecchi, thanks for the bug report. I understand that this is frustrating, so sorry about that!

I'm liking the sound of this approach. If you have any time to submit a PR, I'll happy review it! Otherwise, I've added this to our backlog, and I'll hope to have a look at it in the next few weeks.

[2018-08-29 18:10] cecchi commented on #164
With some more thought, recursively iterating through children isn't a robust or feasible solution. The children could be using other rendering patterns like render props that would make it impossible to determine whether it will result in "valid" markup. Additionally, `react-imgix` will mutate the `children` prop to ensure the `<img>` is the final child... this will not be possible with more comp

[2018-09-13 00:06] #117 closed

[2018-10-10 09:31] frederickfogerty commented on #164
This was fixed by #168

[2018-10-10 09:31] #164 closed

[2018-10-11 22:00] #161 closed

[2018-11-02 13:48] Sandstedt commented on #160
This is essential for our project. So we need to use an old version of react-imgix currently. Could use `object-fit` in newer projects, but when we need to support older browsers, it's not possible.

[2018-11-21 17:13] jayeb opened #227 "Remove "fallback src" in srcset generation"
**Describe the bug**
We're currently adding a "sizeless" source URL to the end of our `srcset` attributes as a "fallback source", which is incorrect. The "fallback source" for an image element using the `srcset` attribute should be provided in the `src` attribute, not at the end of the `srcset` list.

See the lines in question here: https://github.com/imgix/react-imgix/blob/master/src/react-imgix.

[2018-11-22 08:06] #131 closed

[2018-11-22 10:49] frederickfogerty commented on #227
I've managed to sneak this into #224.

For Github: Closed by #224

[2018-11-26 22:44] frederickfogerty commented on #227
Fixed by #224

[2018-11-26 22:44] #227 closed

[2018-11-26 22:45] frederickfogerty commented on #131
Released in `8.4.0` 🎉

[2018-11-26 22:45] frederickfogerty commented on #227
Released in `8.4.0` 🎉

[2018-11-26 22:46] frederickfogerty commented on #160
Due to the community desire to have this reimplemented, this is happening! I'll post any updates here when I have them 👍

[2018-12-06 14:08] frederickfogerty commented on #160
We're getting very close now! Track the progress over in #236.

![image](https://user-images.githubusercontent.com/615334/49589019-9108fb00-f968-11e8-9661-c71d969a15af.png)

[2018-12-13 22:34] dbow opened #243 "Use sizes on <Source> to generate srcSet"
**Before you submit:**

- [x] Please search through the existing issues (both open AND closed) to see if your issue has been discussed before. Github issue search can be used for this: https://github.com/imgix/react-imgix/issues?utf8=%E2%9C%93&q=is%3Aissue
- [x] Please ensure the problem has been isolated and reduced. This link explains more: http://css-tricks.com/6263-reduced-test-cases/

**Descr

[2018-12-19 22:16] adamraider commented on #160
I pulled this down and all tests pass, maybe someone can kick off a rebuild on Travis?

[2018-12-21 12:48] frederickfogerty commented on #160
🎉 Released in `8.5.0`. Thanks to everyone for their support and @adamraider for contributing to the PR!

[2018-12-21 12:48] #160 closed

[2018-12-21 13:15] frederickfogerty commented on #243
Yep, you're dead right @dbow. I'll add this to our backlog to fix (and it may take a while to fix), but would also accept a PR if you'd like to fix this yourself!

[2019-01-24 19:14] verbeeksteven opened #268 "Background doesn't support changing fit"
**Describe the bug**
Setting a imgixParams fit to anything but crop has no effect. It still is set to crop as the fit is hardcoded. It should be able to be override by passing a imgixParams fit value.

**To Reproduce**
https://codesandbox.io/s/540nzkv4qn

Steps to reproduce the behaviour:

1.  Create a new Background element
2.  Set imgixParams.fit to anything but crop
3.  See URL has fit=crop

**

[2019-02-06 15:14] tstirrat15 opened #285 "Srcsets, targetwidths, and server-side rendering"
- [x] Please search through the existing issues (both open AND closed) to see if your question has already been discussed. Github issue search can be used for this: https://github.com/imgix/react-imgix/issues?utf8=%E2%9C%93&q=is%3Aissue

**Question**
I saw  in [another issue](https://github.com/imgix/react-imgix/issues/71#issuecomment-276523785) that one of the goals of react-imgix is to generate

[2019-02-07 17:15] jayeb commented on #285
Hi Tanner, thanks for the ticket.

The issue you're referencing is two years old and that answer, while it was accurate back then (5.2.0, I believe), no longer reflects the behavior of the library.

In 8.0.0 we moved from a "measure the DOM and download the best-sized image to fit" approach to a "generate a robust `srcset` attribute and let the browser do the work" approach. This has a number of b

[2019-02-07 17:15] #285 closed

[2019-02-07 17:19] tstirrat15 commented on #285
Yes, this definitely helps. Thank you for taking the time to reply!

I'll look into what it would take to write that configuration.

[2019-02-20 20:45] zachafranz commented on #129
Hey @frederickfogerty was just wondering about the status/progress of this feature?

[2019-02-21 20:20] jayeb commented on #129
Hey @zachafranz, Jason from imgix here. There's no progress on this feature at the moment--we're currently focusing our SDK efforts around cleaning up & unifying our existing code across all of our libraries before we start adding new features like this.

That being said, we'd happily make time to review PRs from the community, so if you want to take a swing at this one we'd love to help from ther

[2019-03-13 17:58] #268 closed

[2019-03-30 14:34] tstirrat15 opened #328 "Server-Side Rendering srcSet generation performance bottleneck"
When profiling our isomorphic React app, one thing that we noticed was that srcSet generation was taking up a whole lot of CPU time - somewhere between a third and a half of the total cpu render time on a page that had 17 images.

Here's a [`node-clinic` flamegraph](https://upload.clinicjs.org/public/b504341d486f38f96cea706cce88906329b7fdc576d8d105dacd36f1e9cc593a/9042.clinic-flame.html#selectedNo

[2019-04-02 21:45] sherwinski commented on #328
Hi @tstirrat15 thanks for bringing this up. As far as I know, srcset generation has not been exhaustively optimized so perhaps there are gains to be made there. I won't be able to dedicate time to look into this just yet, but would happily review a PR or discuss anything you come across if you have the time and want to look into it.

[2019-04-04 19:00] #129 closed

[2019-04-16 16:35] dustinbrink opened #341 "Background Images no longer displaying in v8.6.0"
**Describe the bug**
Background images no longer display in react-imgix v8.6.0

**To Reproduce**
created a sample to reproduce here https://codesandbox.io/s/109766y434

[code]

**Expected behaviour**
Background images load and display

**Information:**
- react-imgix version: 8.6.0
- browser version: Chrome 73

**Additional context**
Add any other context about the problem here.

[2019-04-16 20:35] sherwinski commented on #341
Hi @dustinbrink thanks for catching this, looks like this is being caused by a dependency regression with react-measure. See in [this demo](https://codesandbox.io/s/zk86221wq4) that when we downgrade react-measure to v2.2.5 or lower it will work, but not for v2.2.6
I'm going to cut a patch pinning react-measure to version <2.2.6 and bring this up with the project maintainers.

[2019-04-16 20:44] dustinbrink commented on #341
Great, thanks!

[2019-04-17 17:57] #341 closed

[2019-05-07 15:31] dustinbrink opened #356 "Feature request - Missing @types/react-imgix"
**Is your feature request related to a problem? Please describe.**
Would like a published @types/react-imgix for us typescript developers.

[2019-05-10 19:47] esetnik commented on #12
Actually I came across the same issue. There's no way currently to use react-imgix with web proxy sources since those require signing. There should be way to generate the signatures on the server based on the parameters and then pass them into the library to be applied to the src and srcSet urls.

An example would be:

[code]

[code]

[2019-05-13 23:01] sherwinski commented on #356
Hi @dustinbrink, thanks for the request. I think this is a good idea, although I am not super familiar with the process of adding typescript support for a project. I did find [some guidelines](https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html) after searching around that seem related. Since you're likely more familiar with the process, would you mind pointing me to som

[2019-05-16 21:09] sherwinski commented on #12
Hey @esetnik thanks for the suggestion! While your proposed property does avoid exposing your API key, I think there are other factors to take into consideration when making a change like this. For one, this approach would break in situations where we roll out default parameter values such as in #322 or anything else that affects query parameter generation. Also, we are pretty hesitant to introduc

[2019-05-17 14:23] esetnik commented on #12
The downside of imgix-core-js is that there isn't an option to generate the `srcset` code. It's a bit tedious to do it manually for each of the sources. The advantage of this project is easy dropping imgix images into react projects. If you can't do that for any imgix images hosted by web proxy then this project has significantly reduced utility. I can understand not wanting to add api surface, an

[2019-05-27 04:05] sherwinski commented on #12
@esetnik I completely agree with that point and I've made a note to look into adding `srcset` generation functionality into imgix-core-js, as well as our other backend libraries. I can't promise a specific timeline but it is on our roadmap.

[2019-06-13 16:01] JamieLottering commented on #243
Any updates on this?

[2019-06-14 12:15] drydenwilliams opened #387 "Using `<Background />` tanks my CPU"
**Describe the bug**
I have a media gallery which loads set background images using the `<Background />` component and as soon as I started using it, my CPU load spike massively.

![Screenshot 2019-06-14 at 13 05 53](https://user-images.githubusercontent.com/4403089/59508308-606cc580-8ea5-11e9-83ab-926bdcede29b.png)

Different between not using the `<Background />` component in the first half of t

[2019-06-17 18:37] VitamintK opened #389 "CodeSandbox links from the readme are on 7.2.0"
**Before you submit:**

- [x] Please search through the existing issues (both open AND closed) to see if your issue has been discussed before. Github issue search can be used for this: https://github.com/imgix/react-imgix/issues?utf8=%E2%9C%93&q=is%3Aissue
- [x] Please ensure the problem has been isolated and reduced. This link explains more: http://css-tricks.com/6263-reduced-test-cases/

**Descr

[2019-07-01 04:35] sherwinski commented on #389
hey @VitamintK thanks for bring this to our attention.
@frederickfogerty, think you'd be able to help with this? Looks like the two codepens linked in the docs are both under your account. Thanks!
https://codesandbox.io/s/4z1rzq04q7?view=preview
https://codesandbox.io/s/xp0348lv0z?view=preview

[2019-07-01 18:13] frederickfogerty commented on #389
Hey @sherwinski 👋 I'm happy to do this, but I was thinking it might be better to fork these codesandboxes and bring them under an @imgix org account for future updates?

[2019-07-01 20:01] sherwinski commented on #389
@frederickfogerty that's a great point 😀

[2019-07-02 22:19] #389 closed

[2019-07-03 18:12] sherwinski commented on #243
Hey @JamieLottering, I'm looking to work on this sometime in the next week or so.

[2019-07-03 22:23] JamieLottering commented on #243
Thank you!

[2019-07-09 10:06] baldurh opened #405 "Feature request: Memoize buildSrc"
Even after the latest optimizations in #395 `buildSrc` is still my server’s second hottest frame (see below)

In that PR @frederickfogerty suggested adding memoization to `buildSrcSetPair` https://github.com/imgix/react-imgix/pull/395#discussion_r298668266

I had thought about it but decided to not do anything about it in that PR.

I think the best argument for memoization is server-side rendering

[2019-07-09 17:48] frederickfogerty commented on #405
Hey @baldurh! Thanks for the further investigation!

I know I suggested memoization, and I still don't think it's a bad idea, but I had another idea that I think should be investigated first.

We should be making sure that the hot path (buildSrc and child functions) are all able to be optimized by Node's JIT compiler. If the functions are not being optimized, we could be seeing a slowdown of 3-5x

[2019-07-09 20:28] #243 closed

[2019-07-11 00:32] baldurh commented on #405
Here’s the [current flamegraph](https://upload.clinicjs.org/public/74f58d67e4cf5249354ebb47e49887fb9a054768b274de701798a953c1aeeb93/16148.clinic-flame.html#selectedNode=163&zoomedNode=&exclude=83c0&merged=true) for when running buildSrc in a loop

Here’s [one with the stuff I’m experimenting with](https://upload.clinicjs.org/public/44160d0dd4daff7c126bcd47e9635e6b09d318a5f52467d50e36a4e2e8c3cad1/1

[2019-07-11 04:01] sherwinski commented on #243
hey @JamieLottering, these changes are now available as part of [v8.6.3](https://github.com/imgix/react-imgix/releases/tag/v8.6.3) ✌️

[2019-07-11 13:56] JamieLottering commented on #243
Thank you, much appreciated!! 🙇

[2019-07-22 23:54] sherwinski commented on #328
hey @tstirrat15,

There have been numerous performance changes made to URL building (all credit goes to @baldurh) since this issue was first opened. I would invite you, or anyone else who's curious, to test these out in the latest release. I'm going to go ahead and close this issue now, but feel free to comment back with any questions you may have.

Also relates to #406, #414, #418

[2019-07-22 23:54] #328 closed

[2019-07-23 21:22] tstirrat15 commented on #328
Thank you!

[2019-07-29 09:33] baldurh commented on #405
I’m not sure if this is still relevant. After some tweaks we’ve managed to increase performance quite substantially!

Comparing 577cc3c43de2c18d0da8ef92e18808bb7e8f10e9 with current master:
Benchmarks in ms, 10,000 iterations

|                                       | before | after | change  | speed increase |
|---------------------------------------|-------------|------------|---------|---------

[2019-07-29 18:16] sherwinski commented on #12
Hey @esetnik, happy to announce that we now support generating srcsets in imgix-core-js [v2.1.0](https://github.com/imgix/imgix-core-js/releases/tag/2.1.0) 🎉
I would definitely encourage you to give it a try and see if it helps with the pain points that you mentioned earlier. Thanks

[2019-08-02 22:49] sherwinski commented on #405
This is incredible, awesome job @baldurh!
Personally I'm curious just to see what further improvements memoization will bring so long as it doesn't require too much overhead. But if it's not worth the trouble, then I'm pretty happy with the current state of things 👍

[2019-08-08 13:04] baldurh commented on #405
I don’t see any reason to add memoization currently. I’m closing this and we’ll just revisit this later if we think it’s worth it. @sherwinski when can we expect the latest changes to be released? 😁

[2019-08-08 13:04] #405 closed

[2019-08-08 13:58] jayeb commented on #405
Hey @baldurh! Sherwin actually left for vacation last week (according to the latest reports he's currently high-fiving exotic wildlife on an archipelago in the Pacific) and in all of the hubbub leading up to it this seems to have slipped through the cracks. Sorry about that! I published a new release this morning with your last four perf improvements so you should be off to the races now 👍.

[2019-09-10 12:18] eahlberg opened #446 "Component API differs from underlying Imgix API"
While [it is explained](https://github.com/imgix/react-imgix/blob/master/README.md#basic-use-case) that the `fit` prop defaults to `crop`, this differs from the [documentation](https://docs.imgix.com/apis/url/size/fit) where the default value for `fit` is `clip`. Is there a reason for this? I would have expected the component to follow the defaults from the official API.

[2019-09-11 09:46] frederickfogerty commented on #446
Hey @eahlberg, I was waiting for some others to jump in here, but due to the silence, I'll add my 2 cents.

The real explanation for this is that initially, this component was further away from the imgix API, and it performed more magic to try enhance the developer experience. Over the years, as browsers and imgix have involved, this component has not needed to do as much. A big change here for ex

[2019-09-11 10:35] eahlberg commented on #446
Hey @frederickfogerty, thanks for the prompt response and for the explanation! 🙏

I took a look myself and I'm not really sure the `Imgix` component defaults to `fit=clip`. [Here's a test which fails for me locally](https://github.com/eahlberg/react-imgix/commit/b1a15f5221324c72cc3c9636ed4aacf9c56f0c51) which I would expect to pass in that case.

My guess for why would be because of [this](https:/

[2019-09-11 14:05] frederickfogerty commented on #446
All good @eahlberg.

You're right, that test does fail locally because it doesn't pass `fit=clip`, it passes `fit=false` (at least on inspection, I haven't tested this). Maybe you could check if that is the case? If it is indeed `fit=crop`, then this would be a candidate for something to change with the new major version of this library, imo.

Thanks for digging into the source code to find the ca

[2019-09-11 20:46] sherwinski commented on #446
Thanks for pointing this out @eahlberg and for investigating. I think you're correct in that we are defaulting to `fit=crop` -- which my local tests also reflect. It definitely makes sense that we should to default to `clip` (or even leave it unspecified) unless the user enters in a width and/or height, in which case we use `fit=crop`.

And even if this does result in a breaking change, I don't th

[2019-09-20 21:52] daletom opened #453 "The example codesandbox doesn't look very good, is stretching the image"
The codesandbox is showing a  stretched version of the blueberry image.  This is because the css is asking for width and height of 200px, but the image is a tall skinny image.  If we don't correctly crop the image, it stretches.  I would propose modifying the index.js file like this:

[code]

That would correctly crop the image.  It would also serve the correct size image.

[2019-10-04 20:19] sherwinski commented on #453
Good catch @daletom! The codesandbox should now be updated.

[2019-10-04 20:19] #453 closed

[2019-10-14 22:48] baldurh opened #469 "Object.values is not a function"
`Object.values` is not supported by older browsers. Either make sure it is transpiled by babel or just replace this line https://github.com/imgix/react-imgix/blob/master/src/constants.js#L9 with something else.

P.S. This was added by me a while back. Sorry 😅

[2019-10-15 17:41] sherwinski commented on #469
😂 No problem @baldurh. I'll get started on a fix later today.

[2019-10-21 18:25] tstirrat15 opened #475 "FindDOMNode is deprecated in StrictMode"
I suppose the first question is what `onMounted` supports. It seems like it breaks React abstractions to some degree. I wasn't able to find discussion on its genesis, either.

I've been working through fixing StrictMode issues in my own project, and `findDOMNode` in this library is one of the things it's complaining about. If `onMounted` is critical functionality, it should be implemented with `re

[2019-10-22 06:42] frederickfogerty commented on #475
Ahhhh this is one from a while ago, but I believe the reason it was implemented was so that developers could hook into the root img tag and say, add a `onLoad` handler for their own use.

We could also probably use a ref here instead of a callback.

[code]

Leaving the rest up to you @sherwinski @jayeb

[2019-10-22 12:23] frederickfogerty opened #477 "Support contributors by displaying them in README.md using all-contributors bot"
**Before you submit:**

- [x] Please search through the existing issues (both open AND closed) to see if your feature has already been discussed. Github issue search can be used for this: https://github.com/imgix/react-imgix/issues?utf8=%E2%9C%93&q=is%3Aissue
- [x] Please take a moment to find out whether your idea fits with the scope and aims of the project

**Is your feature request related to a

[2019-10-23 17:43] sherwinski commented on #477
Love the idea @frederickfogerty. I'll add it to my list.

But does this mean that @renovate-bot has to be at the top of the list? /s

[2019-10-23 22:15] sherwinski opened #480 "Include performance benchmarks in test suite"
- [x] Please search through the existing issues (both open AND closed) to see if your feature has already been discussed. Github issue search can be used for this: https://github.com/imgix/react-imgix/issues?utf8=%E2%9C%93&q=is%3Aissue
- [x] Please take a moment to find out whether your idea fits with the scope and aims of the project

**Is your feature request related to a problem? Please describ

[2019-10-24 22:52] #475 closed

[2019-10-25 17:08] baldurh commented on #480
My setup wasn’t nice at all 😅 I basically added an export for the functions I wanted to benchmark, built the code and ran a script with a timer and a bunch of for loops

[2019-10-25 19:24] #469 closed

[2019-10-29 19:23] sherwinski commented on #480
@baldurh Good to know! Perhaps an example of the best approach being the most straightforward one.

[2019-10-30 19:14] #446 closed

[2019-11-01 21:37] sherwinski commented on #477
Hey @frederickfogerty, the all-contributors bot should now be installed. Feel free to use this thread to add anyone for their specific contributions.

Contribution types can be found here: https://allcontributors.org/docs/en/emoji-key

[2019-11-01 21:39] sherwinski commented on #477
@all-contributors please add @baldurh for code

[2019-11-02 08:03] frederickfogerty commented on #477
Thanks @sherwinski, I'll close this issue now 👍

[2019-11-02 08:03] #477 closed

[2019-11-02 08:10] frederickfogerty commented on #477
@all-contributors add @sherwinski for code, documentation, maintenance, and questions
@all-contributors add @frederickfogerty for code, documentation, maintenance, and questions
@all-contributors add @jayeb for code, documentation, maintenance, and questions
@all-contributors add @modosc for code
@all-contributors add @paulstraw for maintenance
@all-contributors add @theolampert for code
@all-cont

[2019-11-02 08:11] frederickfogerty commented on #477
RIP 💀

[2019-11-02 08:11] frederickfogerty commented on #477
@all-contributors add @sherwinski for code, documentation, maintenance, and questions

[2019-11-02 08:11] frederickfogerty commented on #477
@all-contributors add @frederickfogerty for code, documentation, maintenance, and questions

[2019-11-02 08:13] frederickfogerty commented on #477
Right... all-contributors seems to make a new PR for each comment. This could be a long process

[2019-11-02 08:13] frederickfogerty commented on #477
@all-contributors add @sherwinski for code, documentation, maintenance, and questions, and add @frederickfogerty for code, documentation, maintenance, and questions

[2019-11-04 20:26] sherwinski commented on #477
Seems that other people have expressed interest in a feature for adding multiple contributors at once: https://github.com/all-contributors/all-contributors-bot/pull/127

For now I think we will have to resort to doing it one by one 🙁

[2019-11-09 17:07] jaredloson opened #494 "htmlAttributes ref function not called"
**Before you submit:**

- [x] Please search through the existing issues (both open AND closed) to see if your issue has been discussed before. Github issue search can be used for this: https://github.com/imgix/react-imgix/issues?utf8=%E2%9C%93&q=is%3Aissue
- [x] Please ensure the problem has been isolated and reduced. This link explains more: http://css-tricks.com/6263-reduced-test-cases/

**Descr

[2019-11-11 03:53] hagmic commented on #356
I've done some initial work to start the conversation on this issue. The props in this `README` didn't match up exactly with the actual component implementation, so I'd love some feedback on how the props should be structured/exported for these types. For now, all `imgixParams` allow `string | number | boolean`. I'm no expert in all of the params, but they could be further refined to match the act

[2019-11-11 17:49] frederickfogerty commented on #356
Thanks @hagmic! This is a big step forward. I have a request for the DefinitelyTyped PR - do you think that myself, @sherwinski, and @jayeb could also somehow get something like "maintenance access" to `@types/react-imgix`. I'm not quite sure how DefinitelyTyped works, but it will be important for us to keep these types somewhat up to date as we update this library.

I think we should go with the

[2019-11-11 17:53] frederickfogerty commented on #494
Hey @jaredloson, sorry that we broke this! This was probably broken by #476, but it's mostly our fault for not having test coverage for this documented feature. @sherwinski should be in touch here soon to give some more information about when we expect to fix this 👍

[2019-11-11 23:25] sherwinski commented on #494
Apologies for that @jaredloson, I'll get started on a fix immediately.

[2019-11-12 22:22] luizcieslak opened #495 "Picture support not working"
**Before you submit:**
v 9.0.0

- [x] Please search through the existing issues (both open AND closed) to see if your issue has been discussed before. Github issue search can be used for this: https://github.com/imgix/react-imgix/issues?utf8=%E2%9C%93&q=is%3Aissue
- [x] Please ensure the problem has been isolated and reduced. This link explains more: http://css-tricks.com/6263-reduced-test-cases/

[2019-11-15 00:53] #494 closed

[2019-11-15 20:37] sherwinski commented on #477
Ok, let's try this again. Sorry in advance for the spam 🙊

@all-contributors add @sherwinski for code, documentation, maintenance, and questions

[2019-11-15 20:40] sherwinski commented on #477
@all-contributors add @frederickfogerty for code, documentation, maintenance, and questions

[2019-11-15 20:42] sherwinski commented on #477
@all-contributors add @jayeb for code, documentation, maintenance, and questions

[2019-11-15 20:43] sherwinski commented on #477
@all-contributors add @modosc for code

[2019-11-15 20:48] sherwinski commented on #477
@all-contributors add @paulstraw for maintenance

[2019-11-15 20:49] sherwinski commented on #477
@all-contributors add @theolampert for code

[2019-11-15 20:52] sherwinski commented on #477
@all-contributors add @rbliss for code and tests

[2019-11-15 20:52] sherwinski commented on #477
@all-contributors add @ekosz for code and docs

[2019-11-15 20:55] sherwinski commented on #477
@all-contributors add @tstirrat15 for code and bugs

[2019-11-15 20:55] sherwinski commented on #477
@all-contributors add @samuelgiles for docs

[2019-11-15 20:56] sherwinski commented on #477
@all-contributors add @rexxars for docs

[2019-11-15 20:57] sherwinski commented on #477
@all-contributors add @nickhavenly for code

[2019-11-15 20:59] sherwinski commented on #477
@all-contributors add @minfawang for code

[2019-11-15 21:00] sherwinski commented on #477
@all-contributors add @kochis for code

[2019-11-15 21:01] sherwinski commented on #477
@all-contributors add @kellysutton for maintenance

[2019-11-15 21:02] sherwinski commented on #477
@all-contributors add @enagorny for docs

[2019-11-15 21:03] sherwinski commented on #477
@all-contributors add @dennisschaaf for code

[2019-11-15 21:03] sherwinski commented on #477
@all-contributors add @danielfarrell for docs

[2019-11-15 21:04] sherwinski commented on #477
@all-contributors add @andykent for code

[2019-11-15 21:05] sherwinski commented on #477
@all-contributors add @GLosch for code

[2019-11-15 21:31] sherwinski commented on #477
There we go 😤

[2019-11-18 18:49] sherwinski commented on #495
Hey @luizcieslak, sorry for the delayed response. I'm currently investigating this issue and hope to have some updates for you soon.

[2019-11-19 01:31] sherwinski commented on #495
So this actually looks to be expected, please see this example that reproduces the same behavior with HTML elements:
https://codesandbox.io/s/bug-fallback-img-with-picture-7722l
In this example, each of the `<Source>` elements and the fallback `<img>` are color coded using the `mono` parameter to show switching between them as the browser is resized.

It seems that we are actually correctly switch

[2019-11-19 18:41] luizcieslak commented on #495
it works with your possible solution:
[code]
https://codesandbox.io/s/still-firefly-ldw6s

Gonna open a PR updating the documentation. Thanks!

[2019-11-20 21:38] #495 closed

[2019-11-27 23:54] wfendler opened #524 "How do I use the "gif-q" parameter?"
Animated gifs have a separate parameter `gif-q` to control quality. How is this param passed to the `<Imgix />` component?

[2019-12-02 19:19] sherwinski commented on #524
Hey @wfendler, any parameters can be passed to the component via the `imgixParams` prop regardless of the image file type. For example:
[code]
Hopefully this helps answer your question. If you have any further questions about usage, feel free to write in to our support line at support@imgix.com

[2019-12-02 19:19] #524 closed

[2019-12-03 19:09] sherwinski commented on #524
I should also mention that the `gif-q` parameter works in the opposite way to our image quality parameter. For animated gifs, a higher `gif-q` value would result in more compression. In the case of images, a higher `q` value would result  in less compression.

[2019-12-10 12:00] jackfranklin opened #527 "Warn if `src` is not an imgix URL"
**Before you submit:**

- [x] Please search through the existing issues (both open AND closed) to see if your feature has already been discussed. Github issue search can be used for this: https://github.com/imgix/react-imgix/issues?utf8=%E2%9C%93&q=is%3Aissue
- [x] Please take a moment to find out whether your idea fits with the scope and aims of the project

**Is your feature request related to a

[2019-12-10 19:48] sherwinski commented on #527
Hey @jackfranklin thanks for the suggestion! As much as I think this would be a useful addition, there is unfortunately no way for us to be certain that a URL is an imgix URL based on the hostname alone. Users are able to (and many do) set custom domains that deviate from the `*.imgix.net` format.
If you ever have other ideas/suggestions, definitely feel free to open another issue or a PR 😀

[2019-12-10 19:48] #527 closed

[2019-12-10 22:32] esetnik commented on #356
@frederickfogerty if you want to maintain control of the types it would be better to accept a PR directly to this repo for the types to be included directly in the project. See https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html Then you can require types to be updated whenever changes are made and typescript users of your package won't need to install any @types depende

[2019-12-10 22:35] esetnik commented on #356
@hagmic I tested this out and it looks good. The only issue I had was:
[code]

In the following:
[code]

[2019-12-10 22:37] ryami333 commented on #356
In [my experience](https://github.com/springload/react-accessible-accordion/blob/25346948df09c0710b9ba10634a4146d196621c9/package.json#L21), the "simplest" way to do this is to actually migrate your own project to Typescript, and then publish a "declaration file" as part of your build-step. That way, types don't require any extra consideration with each update/publish, they're just a build-artifac

[2019-12-10 22:40] esetnik commented on #356
Yes, but then the maintainers of this repository need to be familiar with Typescript implementation and do a lot of work to migrate the project. The advantage of separate typings is that the community of users who cares about types can maintain them, and the original authors don't need to do anything.

[2019-12-10 22:41] ryami333 commented on #356
Yes, but the advantage of migrating to typescript is that (once the migration is performed) _neither_ party needs to "maintain" them.

[2019-12-11 00:37] sherwinski commented on #356
I'm glad to see a lot of activity and interest in this, and as project maintainers we definitely want to make this happen. I would like to weigh in on a few things though:

With my understanding of the different options here, I'm most in favor of taking this approach. This is what we did in [imgix-core-js](https://github.com/imgix/imgix-core-js/pull/64) and it seems to have worked fairly well. On

[2019-12-11 04:04] esetnik commented on #356
Actually the work @hagmic did is nearly perfect as far as I’m concerned. There’s a large value in having all the available parameters enumerated as they have done because it makes the entire project type-safe with regard to common developer errors like typos in parameter names or passing a value that was subsequently removed from the project. The best part about keeping the types in the project it

[2019-12-11 04:07] esetnik commented on #356
With regard to the maintenance of parameters, I wouldn’t worry about it too much. In the worst case scenario you release an update with a missing or incorrect type definition for a new parameter and the community of users will quickly submit a PR with the fix. I don’t think this is something the maintainers of this project need to be overly concerned with. The types don’t have to be 100% perfect a

[2019-12-26 21:11] sherwinski commented on #356
Hey everyone,
So we discussed this matter internally and have a plan for how we want to tackle this going forward. The key points that I want to highlight are that we want to 1) keep the types internal to this project and 2) be able to build the enumeration of parameters off a single, accurate artifact at the time of each release. To get to this point eventually, here is our proposed plan:

Step 1

[2020-02-24 20:16] frederickfogerty opened #564 "clicking contributors link in readme doesn't go to section"
**Describe the bug**
The contributors link in the TOC of the README does not work

**To Reproduce**
Steps to reproduce the behaviour:

1.  Go to the README
2.  Click on "Contributors"

<img width="946" alt="Screen Shot 2020-02-25 at 09 14 29" src="https://user-images.githubusercontent.com/615334/75187651-5b3f7480-57af-11ea-934d-6240ae94a2a1.png">

**Expected behaviour**

The page moves to the cont

[2020-02-25 17:05] junoatscroll opened #565 "js-base64 uses eval, leading to CSP violations"
When using react-imgix on a site with Content Security Policy, one of react-imgix's dependencies triggers CSP violations by using eval.

From Chrome dev tools:
[code]

The offending line looks like it's feature detecting nodejs:
https://github.com/dankogai/js-base64/blob/e8a9a09edaf79fddee3623d97421151dcbd384c9/base64.js#L30

Further, a base64 library should not be needed in a browser environment,

[2020-03-04 02:51] sherwinski commented on #565
Thanks for bringing this to our attention @junoatscroll! I think your proposed solution of using the fallback library outside of the browser environment should work. I'll look into creating a patch at some point this week 👍

[2020-03-12 19:56] #564 closed

[2020-03-18 13:58] gslama-akqa opened #577 ""No fallback <img /> or <Imgix />" warning always shown"
I'm always getting the following error
`"No fallback <img /> or <Imgix /> found in the children of a <picture> component. A fallback image should be passed to ensure the image renders correctly at all dimensions."

By looking the code, it seems the condition `c.type === ReactImgixWrapped` is never satisfied. Using `c.type.displayName === ReactImgixWrapped.displayName` worked though.

I'm not sure

[2020-03-20 15:02] Cali93 opened #580 "Using signed urls with the <Imgix /> component"
**Before you submit:**

- [x] Please search through the existing issues (both open AND closed) to see if your question has already been discussed. Github issue search can be used for this: https://github.com/imgix/react-imgix/issues?utf8=%E2%9C%93&q=is%3Aissue

**Question**
A clear and concise description of your question

Hi, I've been trying to implement secure urls in combination with the react

[2020-03-22 00:26] oyeanuj commented on #128
@frederickfogerty Sorry, I'm seeing this message after a while. I just wanted to point out that LQIP or lazy-loading isn't a substitute for color palette extraction as they are very different choices in terms of design.

I feel like this should be re-opened as at the moment, color palette extraction via imgix is cumbersome and it would be great to have first-class support for it.

Great work on th

[2020-03-22 20:19] frederickfogerty commented on #128
Thanks for following up @oyeanuj! I'll tag @sherwinski who is responsible for this library at the moment 👍

[2020-03-24 01:23] sherwinski commented on #128
Hey @oyeanuj,

Glad to hear you’re liking the library! I agree that color palette extraction can be tedious, although I am a bit apprehensive to create first-class support for it — let me explain why. A major concern for our team when implementing new first-class features is striking a balance between general usability and utility. By that I mean, is the feature flexible enough to be used across a

[2020-03-31 12:28] stephencookdev opened #591 "<Background /> with a width (and `top`) but no height causes Imgix 400"
Currently the `Background` component is set up in such a way where if the image "isn't ready", then it doesn't attempt a render.

This is great, except for the "is ready" check, which checks `top != null` of the bounding client rect. However, a very common flow will be that the DOM _node_ is ready (i.e. it is in the DOM, and thus has a truthy `top`), but the CSS/layout hasn't finished rendering fu

[2020-04-01 23:56] #591 closed

[2020-04-02 01:14] sherwinski commented on #591
@stephencookdev Thanks again for your help! This fix is available now in [v9.0.2](https://github.com/imgix/react-imgix/releases/tag/v9.0.2) 🎉

[2020-04-02 19:06] Adrianjs42 opened #595 "onError Function or Fallback for Image Load Errors (404)"
Similar to this Issue [#157 ](https://github.com/imgix/react-imgix/issues/157) I need support for an onError Function to check the Status Code of the response. If the requested image is not found (404) the onError function should be fired and I could add a fallback image or try another one in the array.

In the best case we could also adress the onLoad and other events:

[code]
Example of usage:
[

[2020-04-08 02:31] frederickfogerty commented on #595
Hi @Adrianjs42! Fred from @imgix here. Thank you for opening an issue! Fortunately, we support a (not well documented) feature called `htmlAttributes` which can be used for this kind of custom behaviour. This prop will pass attributes straight down the html element.

In your specific case, it might look like this:

[code]

Please let us know how this goes for you. I'm going to close this for now b

[2020-04-08 03:48] #595 closed

[2020-06-17 14:07] goellner opened #650 "Transition for lazyloaded images"
Is it possible to add a simple fade transition for lazyloaded images, currently it replaces the image once it loaded and it would be nice to add a small transition to make the experience smoother.

[2020-06-18 20:59] frederickfogerty commented on #650
Hey there @goellner, Fred from imgix here 👋 thanks for reaching out!

I love the idea, but unfortunately it is just not possible for us to implement this given our current architecture. Currently our lazy-loading support in this library is achieved through third-party libraries. We recommend using [lazysizes](https://github.com/aFarkas/lazysizes) but the user is free to choose their own library as

[2020-06-18 20:59] #650 closed

[2020-07-02 16:46] jodiedoubleday opened #655 "How can I get auto=format,compress"
**Before you submit:**

- [x] Please search through the existing issues (both open AND closed) to see if your question has already been discussed. Github issue search can be used for this: https://github.com/imgix/react-imgix/issues?utf8=%E2%9C%93&q=is%3Aissue

**Question**
We have `auto=format` by default, how can i pass in `auto=format,compress`?
I can't see anything in the documentation but I h

[2020-07-02 17:13] ericdeansanchez commented on #655
Hey 👋  @jodiedoubleday thanks for opening this issue! Which version of `react-imgix` are you using?

In `ixlib=react-9.0.2`, or react-imgix (ix) version `9.0.2`, the above can be achieved by:

[code]
A live demo of the code above can be found [here](https://codesandbox.io/s/mystifying-sun-lt4jc?file=/src/index.js) and the `src={url}` that the above ultimately generates is:

[code]

If you're using

[2020-07-02 17:41] ericdeansanchez commented on #565
Hey 👋  @junoatscroll thanks for opening this issue. I'm new to the team and I'm going to be taking a look at this. Also thank you for posting a link to the offending line, I _really_ appreciate that.

[2020-07-09 17:39] ericdeansanchez commented on #580
Hey @Cali93 👋 sorry for such a delayed response, but securing URLs does not require you to make any requests to any server.

Officially, the way URL signing works is

[2020-07-09 17:47] #580 closed

[2020-07-09 17:49] ericdeansanchez commented on #655
Hello again 👋  @jodiedoubleday I just wanted to be sure I've answered your question completely. If you have any more questions please feel free to follow up here and/or open another issue.

[2020-07-09 17:49] #655 closed

[2020-07-09 18:49] sherwinski commented on #580
Hey @Cali93, to add to that you may want to utilize the [`disableSrcSet`](https://github.com/imgix/react-imgix#disablesrcset--bool-default--false) prop. That way, the component will not append extra parameters when generating your `srcset` list. Also, it may be helpful for you to use a library such as [imgix-core-js](https://github.com/imgix/imgix-core-js#imgixclientbuildsrcsetpath-params-options)

[2020-07-09 23:50] frederickfogerty commented on #580
Hey @Cali93 👋 Fred here - creator of this library. I added some more of my thoughts about this issue in @ericdeansanchez's response. Hope this helps!

[2020-07-10 00:47] ericdeansanchez commented on #580
Thanks @frederickfogerty !!!

[2020-07-17 11:17] Cali93 commented on #580
Thank you for your answers @frederickfogerty @ericdeansanchez @sherwinski. I ended up using the approach recommended by @frederickfogerty and it works like a charm. That's what I was already planning to do if the react Imgix component wasn't compatible with secure urls.

[2020-07-17 18:15] ericdeansanchez commented on #580
That's awesome! Glad to hear things worked out!

[2020-08-07 10:20] asterikx opened #672 "Background threshold sizes and resize throttling"
**Before you submit:**

- [x] Please search through the existing issues (both open AND closed) to see if your question has already been discussed. Github issue search can be used for this: https://github.com/imgix/react-imgix/issues?utf8=%E2%9C%93&q=is%3Aissue

**Question**
I'm using `Background` on a div whose height is set relative to the browser's viewport. This is very inefficient because the

[2020-08-10 23:07] sherwinski commented on #672
Hey @asterikx
Thanks for opening this issue. Unfortunately, I don't think there's a straightforward way handle these cases, short of changing the component behavior. However, I think this is great feedback that I'd like to take back to my team and discuss with them. I am sure there are ways that we can improve the interface and default behavior to provide a better experience here. I'll be sure to

[2020-09-14 06:04] yuyaohshimo opened #698 ""No fallback <img /> or <Imgix /> found in the children of a <picture> component" with styled-components"
**Describe the bug**
`No fallback <img /> or <Imgix /> found in the children of a <picture> component` is showed when a component is wrapped within styled-components.

**To Reproduce**
[Here](https://codesandbox.io/s/dazzling-cartwright-37r9b?fontsize=14&hidenavigation=1&theme=dark) is a link to codesandbox.

[2020-09-15 09:22] frederickfogerty commented on #698
Hi @yuyaohshimo, thank you for the bug report and the CodeSandbox example.

Although I agree that this is technically a bug, it seems that the impact on our users is small so this is a low priority. I've added this to our internal list of improvements and we will hope to address this at some point.

In the meantime, the workaround I recommend is to disable the fallback image warning as documented

[2020-09-15 09:22] #698 closed

[2020-10-22 09:57] agcty opened #717 "How do you use LQIP & lazysizes (documentation misses some things)"
**Question**

How do you actually implement a working LQIP image?

I've got the following code:

[code]

[code]

Here's a video of the issue:

https://shareit.video/h6eP1jG4GNEr7vwroM5b

Basically it doesn't load the low res placeholder for whatever reason and what's more important the image doesn't even show up until after the component has rendered and I'm not sure why. Is there a working ( & re

[2020-10-30 11:01] tremby commented on #672
I would class this as a major bug. I came here to open a similar ticket, having just tried the background version of this.

Off the top of my head, I'd suggest:

- Set some threshold which needs to be passed before the component decides to fetch a new version of the image. Perhaps a +25% change in area, or a ±25% change in aspect.
- Debounce or throttle the event handler
- Preload the new version

[2020-10-30 11:06] tremby opened #723 "Generated srcsets cannot be controlled"
This is discussed in the closed PR #528. I think it deserves an open issue, since I see the consequences of this missing feature as a major bug.

I'll quote the comment I left on that a little earlier:

From other comments on that PR it looks like the idea was to rewrite parts of this component to delegate to imgix-core-js.

[2020-10-31 14:28] #565 closed

[2020-11-03 07:08] sherwinski commented on #723
Hey @tremby,

This is still our intention and is slated to be worked on in the near future! Our team has had to focus our efforts elsewhere this year but I'm happy to say we are finally getting around to adding these features. We don't have a timeline currently for when this will be done, but our team can give updates on this issue as they come along.

The eventual integration of imgix-core-js wil

[2020-11-03 07:13] sherwinski commented on #672
@tremby Agreed that the experience can be better here. This is something our team will be looking at in the near future. Also if anyone is feeling up for it, we'd happily accept a PR as well 👍

[2020-11-03 07:51] tremby commented on #723
I think you missed my point in that last part a little. No matter what, the component is making candidate images that it advertises as being up to 8192 pixels wide.

If `fit=max` is set, those largest ones aren't really that large, but they still advertise being so. (This is already breaking the srcset contract and so is already bad, but that's not the point here.)

Assuming a full-bleed image whi

[2020-11-03 07:55] tremby commented on #723
That's good to hear. I wrote my own in in the mean time. I'm not sure if I'm allowed to licence it as open source, but maybe I'll ask my client in due course.

[2020-11-03 08:03] tremby commented on #672
As mentioned in another ticket just now, I actually wrote my own version of this yesterday. I'll ask my client if I can release the code. I'm quite happy with it.

- I use ResizeObserver to track the size
- I use that size to get the "ideal aspect" (which falls back to a "nominal aspect" provided in the props if the size is not yet ready such as in server-side rendering), and then I quantize this

[2020-11-10 00:48] ericdeansanchez commented on #577
Closing this issue for now. @gslama-akqa if you have any more questions please feel free to comment here (and I'll reopen this). Also feel free to open a new issue for any further comments, questions, or concerns. Thank you! :)

[2020-11-10 00:48] #577 closed

[2020-12-18 12:03] michaelmarconi opened #738 "Duplicate attributes when using "attributeConfig""
Hi – I'm trying to get Lazy Loading working by following the instructions at:  https://github.com/imgix/react-imgix#lazy-loading

These state:

Note that it says "instead of", whereas the output in my browser now has both the original attributes (`src`, `srcSet`, `sizes`) **AND** the data attributes (`data-src`, `data-srcset` & `data-sizes`).  That is creating a large amount of extra code which se

[2020-12-18 12:10] michaelmarconi opened #739 "How to use the LQIP loading technique with fade in?"
Hi — I've followed the instructions to use the LQIP loading technique at https://github.com/imgix/react-imgix#low-quality-image-placeholder-technique-lqip, which is working, however there is no transition between the low quality image and the final image, which is jarring.

I'd like to use the blur plugin that is referenced in the lazysize library (see:  https://github.com/aFarkas/lazysizes/tree/m

[2020-12-18 15:03] frederickfogerty commented on #739
Hey @michaelmarconi, thank you for opening this issue. Are you able to confirm if the `data-lowsrc` attribute is correctly set in the HTML?

FYI, you might want to redact your imgix url on the `src: ` line too.

[2020-12-18 15:09] frederickfogerty commented on #738
Hi there @michaelmarconi. In fact, the documentation is correct - `react-imgix` only sets `data-src`, `data-srcset`, and `data-sizes` instead of `src`, `sizes`, and `srcset`. It is actually lazysizes that does the copying once the page is loaded.

When you mention this, is this seen as an explicit problem for you? Since this "duplication" happens on the client side, I would say that there is not m

[2020-12-18 15:09] #738 closed

[2020-12-18 15:14] michaelmarconi commented on #739
Hi @frederickfogerty — thanks, I've redacted the part I missed!

I can confirm that `data-lowsrc` is correctly set in the HTML.  I'll cross-post this to _lazysizes_ and see if they have any ideas..

[2020-12-18 15:17] frederickfogerty commented on #739
Great, please let us know how it goes! This is good learning for us too.

[2021-01-04 14:46] frederickfogerty commented on #739
I'm closing this for now since there's nothing actionable on our side.

[2021-01-04 14:46] #739 closed

[2021-01-27 09:30] imgix-git-robot opened #750 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `main` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you can

[2021-01-27 12:27] frederickfogerty commented on #750
Stop talking smack semantic-release, this just passed 🙊

[2021-01-27 12:27] #750 closed

[2021-03-01 22:56] JorgeSivil opened #763 "<Background> generating parameters twice for width and height"
Based on the code I had to send imgixParams{ w: X, h: Y } to use the forced values.

But this would result in two parameters w and h appended to the URL.

Expected result: Only one parameter should be sent for a given key.

[2021-03-03 06:15] sherwinski commented on #763
Hey @JorgeSivil, thanks for bringing this issue to our attention. Our team will look into this and get back to you here. We'd also be happy to accept a PR that fixes this issue if anyone is interested in opening one.

[2021-03-29 07:55] renovate[bot] opened #773 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to ignore the schedule.
 - [ ] chore(deps): pin dependency conventional-changelog-conventionalcommits to 4.5.0
 - [ ] chore(deps): lock file maintenance

## Open

These updates have all been created already. Click a checkbox below to force a retry

[2021-03-31 18:25] ericdeansanchez commented on #387
Hey @drydenwilliams, I'm currently working on solving this issue. The `<Background/>` component is constantly re-rendering. The fix I'm working on aims to ensure minimal re-renders.

[2021-04-01 00:46] ericdeansanchez commented on #763
Reproduced.

Steps to reproduce:
* create react app
* use the `Background` like below:
[code]

Options:
* we could change how this works [here](https://github.com/imgix/react-imgix/blob/637da1799a5ba23f8505a87fdaadf19466555366/src/constructUrl.js#L127) (e.g. transform params that need it and letting "the last width/w win")
* there's also this [here](https://github.com/imgix/react-imgix/blob/637da1

[2021-04-01 15:46] sherwinski commented on #763
We could also deduplicate any `w` and `h` in in [imgixParams](https://github.com/imgix/react-imgix/blob/637da1799a5ba23f8505a87fdaadf19466555366/src/react-imgix-bg.jsx#L93) since we're just going to include a determined [width and height](https://github.com/imgix/react-imgix/blob/637da1799a5ba23f8505a87fdaadf19466555366/src/react-imgix-bg.jsx#L95-L96) right afterwards.

[2021-04-01 16:41] ericdeansanchez commented on #763
Yeah, ideally I'd like to set things up in a way where the duplication doesn't happen to begin with. Hmm...

[2021-04-22 23:51] #763 closed

[2021-04-23 22:45] #387 closed

[2021-04-28 17:36] riccoski opened #783 "Broken images with spaces within the filename"
react-imageix seems to be replacing '+' (spaces) with '%2B'

Original link: https://images.prismic.io/onto-marketing-site/92e8237b-be90-4883-96bb-97f4b053bedf_Tesla+Model+3+LR.png?auto=compress,format&rect=258,135,887,570&w=1400&h=900

react-imageix output:
https://images.prismic.io/onto-marketing-site/92e8237b-be90-4883-96bb-97f4b053bedf_Tesla%2BModel%2B3%2BLR.png?auto=format&rect=258%2C135%2C887

[2021-04-29 03:16] sherwinski commented on #783
Hey @riccoski,

As of [v9.1.0](https://github.com/imgix/react-imgix/releases/tag/v9.1.0) this is expected behavior as we need to account for file paths that use a `+` literally rather than as a substitute for a space. Unfortunately, there's no way to intelligently tell which of these two might be the case in a given image path so we had to err on the side of always treating it literally. I would r

[2021-05-01 12:02] Siggnja opened #784 "Bundle size increased by 3KB between 9.0.3 and 9.1.0"
The Bundle size increased by 3.5KB between 9.0.3 and 9.1.0 was this an expected change? Looking at the changelogs there was no real feature being added just some refactor.

See here:
https://bundlephobia.com/result?p=react-imgix@9.1.1

[2021-05-02 00:38] ericdeansanchez commented on #784
Hey @Siggnja 👋 thanks for opening this issue! We recently delegated URL and Srcset creation to `@imgix/js-core` which seems to add more bytes to the bundle size. To answer your question, _yes_ an increase in size was expected **_and_**/but I've expected we'd also need to trim a few bytes in a few places.

One area I think we could improve is to try to use `Buffer.from(str).toString('base64')` and

[2021-05-05 14:35] sherwinski commented on #783
I'm going to close this issue now since there isn't anything actionable from our end, but please feel free to comment back if you have any other questions.

[2021-05-05 14:35] #783 closed

[2021-05-05 19:18] ericdeansanchez commented on #672
Hey all 👋 @asterikx @tremby I just wanted to take a moment to talk about some of the work we've done to improve the behavior of this component.

This work (already released) revolves around this core idea:

Below I will try to outline the changes we've already made and the changes to come.

## Biggest Issues

The biggest issue I found with the pre `v9.0.3` `Background` component was that it infini

[2021-05-05 20:55] tremby commented on #672
Honestly I think you're significantly overcomplicating it.

Let the browser handle this! Chrome for one already does exactly this. It won't fetch a smaller item from the srcset if it already has a larger one.

All you need to give the browser is a srcset of all available resolutions for the current *aspect ratio*, and a hint about what the render size is via the `sizes` attribute. You don't need t

[2021-05-06 17:17] ericdeansanchez commented on #672
@tremby When I say:

I mostly mean that the heavy lifting is done by CSS/browser:  `backgroundImage: url(${src})`.

I see you've mentioned using srcsets a lot; is there an example scenario you could give where a srcset is more desirable over a single src? Maybe I'm just misunderstanding things here. Can you use a srcset for background images?

[2021-05-07 20:01] ericdeansanchez commented on #672
I'm closing this issue for now as current releases have largely fixed this problem. That said, the `Background` component is far from perfect, so please feel free to continue the conversation here and we'll continue to work towards a more ideal solution.

[2021-05-07 20:01] #672 closed

[2021-05-07 20:48] tremby commented on #672
There are myriad resources about srcset online; [here's an example](https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Responsive_images).

The browser knows much more than the developer about the current circumstances, in terms of the user's display, their zoom level, the viewport size, their bandwidth limitations, which assets it has already has downloaded and cached, a

[2021-05-18 12:15] kitos commented on #783
but, can't we rely on the consumer to take care of encoding?

[2021-05-18 12:34] mwisner opened #786 "Multiple images downloaded in Safari using Imgix component"
**Describe the bug**
When using safari, the images generated seem to be downloaded twice in Safari.

Something like this:
[code]
always seems to download at least two images. In chrome, it only downloads one

**To Reproduce**
Code Sandbox: https://codesandbox.io/s/exciting-wildflower-hbw2j?file=/package.json

**Expected behaviour**
In chrome only a single image is downloaded, but
**Screenshots**
!

[2021-05-18 18:58] sherwinski commented on #783
Hey @kitos, I'm not sure I understand, can you elaborate what you mean by "consumer" here? This library assumes that paths passed to `src` are provided un-encoded.

[2021-05-18 20:51] a-trost opened #787 "Docs link to wrong CodeSandbox for Flexible Image Rendering"
**Describe the bug**
The docs in the README provide a link to edit on CodeSandbox, but for the [Flexible Image Rendering](https://github.com/imgix/react-imgix#flexible-image-rendering) section, they link to a different example.

The code in the docs is:
[code]

While the code in the CodeSandbox is:
[code]

Showing off a different feature entirely.

Here is the link to the section of the docs: http

[2021-05-19 12:10] frederickfogerty commented on #786
Hi there @mwisner! Thanks for opening this issue. This is a [known issue](https://bugs.webkit.org/show_bug.cgi?id=190031) with Safari and as such there is nothing actionable we can do on our end. Sorry about this and I hope they fix the issue soon!

[2021-05-19 12:10] #786 closed

[2021-05-19 12:25] frederickfogerty commented on #787
Hey @a-trost, thanks for opening this issue. I don't know where the fluid CodeSandbox got off to, but I've made a new one and updated the link in the associated PR.

[2021-05-19 12:52] a-trost commented on #787
Awesome, thanks, @frederickfogerty! That looks great.

[2021-05-19 18:34] JosephMarotte opened #789 "Children passed to background component do not update"
**Before you submit:**

- [x] Please search through the existing issues (both open AND closed) to see if your issue has been discussed before. Github issue search can be used for this: https://github.com/imgix/react-imgix/issues?utf8=%E2%9C%93&q=is%3Aissue
- [x] Please ensure the problem has been isolated and reduced. This link explains more: http://css-tricks.com/6263-reduced-test-cases/

**Descr

[2021-05-20 08:43] #787 closed

[2021-05-21 14:29] frederickfogerty commented on #789
Hey @JosephMarotte 👋 thanks for opening the detailed bug report and sorry that you had an issue here! We've allotted some time to look at this on Thursday next week so hopefully should be able to to release a fix shortly after that! Until then, I would suggest as a workaround to rollback to the previous react-imgix version.

[2021-05-25 14:56] nicolasdanelon commented on #786
Hi @frederickfogerty is it posible on mobile that react-imgix download the largest image? I don't want to start a new issue if this is part of this bug here.

[2021-05-25 15:02] frederickfogerty commented on #786
@nicolasdanelon in the issue I linked it mentions that the bug was verified on iOS, so I imagine so. To be clear, this is not an issue with react-imgix - any React app will suffer from these issues. If this is a significant issue, I would suggest to wrap react-imgix in another component that sets the `srcset` on the first render, and then sets `src` after a short delay/next render.

[2021-05-27 15:17] riccoski commented on #783
I would agree - shouldn't it be down to the developer to have + encoded?
I've mentioned to prismic and I haven't heard back from them.
However I just stayed with the previous version

[2021-05-27 15:24] luqven commented on #789
Hey @JosephMarotte,

We've just opened a PR #793 that should fix the issue where the child components were not updating. Once the fix is merged in and released, we'll circle back to let you know and close this issue.

Thanks again for taking the time to report the bug  🌟

[2021-05-28 10:18] frederickfogerty commented on #783
With all of our libraries we strive to have the best developer experience possible and if it were feasible to do this, we would. Unfortunately there are plenty of peculiarities when it comes down to URL encoding and thus it would actually be _more_ frustrating for developers if we required the developers to pass an encoded URL, as likely they would pass a URL that was encoded in the wrong way. You

[2021-05-28 10:27] riccoski commented on #783
Thank you for the info. That makes sense 👍🏾.
At the time I had to stay with the previous version as it was a quick fix
to broken images on production.

Thanks

Ricco

On Fri, 28 May 2021 at 11:19, Frederick Fogerty ***@***.***>
wrote:

--
*Ricco*

*Frontend developer*

[2021-05-28 14:59] #789 closed

[2021-05-28 20:40] JosephMarotte commented on #789
Hello @luqven,
To me it seems there are still some kind of an issue.
I updated react-imgix to 9.1.3 on the sandbox (https://codesandbox.io/s/musing-cray-w6tel?file=/src/App.js) but the problem is still here. And when updating to the latest version on my computer, looking at the code in node_modules the fix does not seems to be there, maybe I am missing something ?

Looking at https://github.com/im

[2021-05-28 22:53] matt-morris opened #795 "Stray console.log in latest release [v9.1.3]"
**Describe the bug**
Release 9.1.3 has a console.log in the build.

**To Reproduce**
Install v9.1.3 and use one of the components.

https://codesandbox.io/s/sleepy-violet-fygb6?file=/src/App.js

The relevant line is in `react-imgix/lib/HOCs/shouldComponentUpdateHOC.js`

[code]

I don't actually see it in your code or this would be a PR instead, so maybe it's an artifact of your build process? Anyw

[2021-05-28 23:21] sherwinski commented on #795
Hey @matt-morris, thanks for pointing this out to us! We're in the process of releasing a fix now 👍

[2021-05-28 23:46] luqven commented on #789
@JosephMarotte 💯

There was a build issue with `9.1.3`. We've just released `9.1.4`. If you update your dependencies in the sandbox you link above to `9.1.4`, you should see the child components updating.

Thanks again for reporting the issue and should anything else come up please let us know.

[2021-05-29 00:24] sherwinski commented on #795
Looks to be resolved in [v9.1.4](https://github.com/imgix/react-imgix/releases/tag/v9.1.4) (confirmed against your codesandbox) so I'm going to close this issue now. Thanks again!

[2021-05-29 00:24] #795 closed

[2021-05-29 03:11] matt-morris commented on #795
Cheers. Thanks for a quick response 👍

[2021-06-17 08:33] thejuan opened #801 "Non imgix urls no longer supported."
Upgrading from 9.0 to 9.1 relative urls and non-imgix urls are no longer supported. We used to pass in our image value and if it was imgix great, if it wasnt it will still render normally.

This is currently preventing us upgrading as we would have go and wrap all imgix controls with a conditional render of something else. It'd be great if this behaviour was still available

[2021-06-21 06:20] sherwinski commented on #801
Hey @thejuan, thanks for opening this issue.

Could you please provide a reproducible example for both relative and non-imgix URLs? My understanding here is that the features you are describing were never explicitly supported by this project.

[2021-06-23 07:53] thejuan commented on #801
Here is an example repo https://github.com/thejuan/imgix

I haven't styled it, but you can see the image being loaded as a relative background

![image](https://user-images.githubusercontent.com/329807/123058174-e4ba9180-d44b-11eb-8608-34d0cddf9814.png)

[2021-06-23 19:15] joshpetit commented on #524
Hey @sherwinski, I tried using this parameter as:

[code]
and get an error that that property `gif-q` doesn't exist. Is this still a valid option?

[2021-07-02 19:40] sherwinski commented on #524
@joshpetit Apologies, I totally missed your message 🤦

What type of error is it? I assume it's being thrown by TypeScript since `imgixParams` allows users to pass any key/value pairs without any sort of validation.

[2021-07-05 13:33] joshpetit commented on #524
@sherwinski No problem at all! Ok I see, so is there no way around this? I was particularly trying to do this since gifs aren't playing, so I was thinking that changing the quality might fix it. This might be an entirely separate issue though.

[2021-07-07 17:06] sherwinski commented on #524
@joshpetit Yeah it sounds like a separate issue. I would encourage you to send a message over to support@imgix.com about this, as your account might not have the correct settings enabled.

**If** you do end up wanting to use `gif-q` after resolving that, you may need to add a ts-ignore comment before that line. This is because it's not an official parameter according to the DefinitelyTyped definit

[2021-07-07 17:38] joshpetit commented on #524
@sherwinski I appreciate it! Thank you

[2021-07-30 17:37] nathanaelphilip opened #805 "Add prop to output preload tag"
It’d be nice to have a prop that outputs these preload links automatically as outlined here: https://web.dev/optimize-lcp/?utm_source=lighthouse&utm_medium=unknown#preload-important-resources

[code]

[2021-07-30 17:41] nathanaelphilip commented on #805
It may be easier to hook into this: https://www.npmjs.com/package/lazysizes

[2021-08-02 15:05] frederickfogerty commented on #805
Hey @nathanaelphilip, actually I think this could be a great idea! I'll bring it up with the team and see if we can add this to the roadmap 👍

[2021-08-04 18:54] michaelschufi commented on #801
I'm also interested in using the same component, i.e. `Imgix`, for local development. This way, I can avoid yet another "slight" difference to production environments.

So what I mean is, to use `https://localhost:1234/[image]` instead of `https://[your_domain].imgix.net/[image]` in the `src` prop.

[2021-08-05 16:25] frederickfogerty commented on #801
@michaelschufi thanks for the comment. I'm just curious how your local setup works - does it proxy to imgix then? The curiosity we have with these use cases is that if you're not using imgix URLs, the imgix parameters will have no effect and so the image will behave differently in development and production.

[2021-08-05 18:55] michaelschufi commented on #801
@frederickfogerty Thanks for your response. I hope I can clarify my use case:

I have a local docker-compose setup which makes my whole environment, frontend, backend, s3 bucket, etc., available on localhost. Everything is completely local and therefore has very low latency and is available even when my system is offline.

For images, I simply ignore the query parameters when serving the image loc

[2021-08-12 13:42] wolfian opened #808 "+ symbol gets converted into it's corresponding code %2B in generated src and srcset"
**Description:** I'm trying to use _react-imgix_ for images getting served through _Prismic CMS_ on my _Gatsby_ site. Issue is, case where image url contains a **+** symbol. It get converted to it's corresponding symbol **%2B** in the generated **src** and **srcset**, resulting in failure to get the image.

The issue I faced was using this url: [https://images.prismic.io/pestcontrol/eb5bfdc4-327a-

[2021-08-13 11:35] frederickfogerty commented on #808
Hi @wolfian 👋 thanks for opening this issue.

The problem here is that the `src` prop expects the url to be unencoded, whereas the `+` symbol in your url is actually an encoded space. react-imgix cannot tell whether this `+` is meant to be an encoded space, or should be encoded again (to represent an actual `+`), so it encodes it.

The solution here is to decode the `+` before passing it to react-

[2021-08-13 11:35] #808 closed

[2021-08-16 11:52] frederickfogerty commented on #801
Thanks for the explanation @michalschufi. That is definitely an interesting use case. I will note your use case down and if we have some free we will see if we can get to it. Unfortunately I can't promise any concrete timelines any time soon - this thread will be updated when we have more information.

[2021-08-30 15:21] jakio opened #813 "Imgix doesn’t check if the there’s a value available in the prop before trying to process the src url"
Imgix should check if the value provided to src is actually a string before trying to process it.

To prevent this causing an unhandled exception it's necessary to set a fallback image url.

[2021-08-30 15:28] frederickfogerty commented on #813
Hi there @jakio 👋 Fred from imgix here - thanks for the issue report. This library defines `src` as a string and also as required in the component's prop types, and also in the Typescript type definitions, therefore we expect the user to use the component under these constraints. If the value passed to `src` is not a string, this does not comply with these constraints. If we were to handle other t

[2021-08-30 15:28] #813 closed

[2021-08-30 16:54] lmcorreia commented on #813
Hi @frederickfogerty, while I understand the position on the constraint, it seems to me the component could gracefully handle an invalid `src` value by ignoring it or force casting it to a String.

This would allow the component to keep its current TS types and propTypes while not forcing the whole application into an error state or requiring the developer to wrap the component in a React ErrorBou

[2021-08-31 14:53] frederickfogerty commented on #813
Hi @lmcorreia 👋 I appreciate the offer to help here! Technically, I think it is actually quite easy to fix the code-level issue, but I think the issue comes when deciding what behaviour the component should have in this undefined state. In the past we've had issues where invalid image sources cause the whole site to be requested (in Safari for example).

I can think of two things to do here, both

[2021-08-31 15:06] lmcorreia commented on #813
Thanks for looking into this, @frederickfogerty. I think either returning `null` from render or rendering an image with no `src` are both acceptable in this context. Rendering an error message would also be an option, I guess.

But in any case, any of these is still better IMO than letting the `src` value flow through to https://github.com/imgix/react-imgix/blob/637cbcf0378cd3debda762e2a916325be1a

[2021-09-13 11:12] frederickfogerty commented on #813
Hi @lmcorreia, thanks for the thoughtful discussion. I've been on vacation and have also spent some time discussing this with my team, which has caused the delayed response here. I want to respond to your comment and then give my current stance on this.

I think returning `null` from render could cause layout issues, since no `img` would be rendered in some cases which could cause layouts to shift

[2021-09-21 20:56] jperegoy opened #815 "Version 9 over-encodes file paths"
**Describe the bug**
When given a `src` which already has uri-encoded elements, the library is encoding them a second time, breaking the image path.

**To Reproduce**
Consider a file name saved with spaces: `spaced file.jpg`, which has been saved by/into a cms and encoded to display properly as `spaced%20file.jpg`. When `spaced%20file.jpg` is provided to _react-imgix_, the output shows this percen

[2021-09-21 23:06] ericdeansanchez commented on #815
Hey 👋 thanks for opening this issue. Part of what changed from `8.6.4` to #780  was that file paths are expected to be passed in their unencoded form, e.g. `spaced file.jpg`. However, if you save `spaced file.jpg` and your cms percent-encodes this file path this expectation won't work for you.

Okay, the file is saved with a space in the file name, but the cms percent-encodes this space to be `%20

[2021-09-22 01:03] jperegoy commented on #815
Sure, happy to provide those details.

Specifically we are seeing content editors upload objects with spaced filenames to the Acquia Dam which are then encoded and stored by that system, leaving them with percent-encododed paths. End users of Acquia DAM - and I'd suspect most similar providers - do not have the ability to change this behavior to my knowledge. When we query against an entity which

[2021-09-23 10:46] frederickfogerty commented on #815
Hey @jperegoy, Fred from imgix here. Thanks so much for providing some more information. We are going to discuss the possibility of this as a team and will get back to you next week ✌️

[2021-11-22 17:28] Thomas-Cake commented on #801
Seeing the same issue now after an upgrade. I don't need Imgix to actually serve the image on localhost, understood why that's an issue. But it'd be great if the component wouldn't throw and error and therefore prevent rendering of the whole page, it seems better to just fail silently and produce a broken image instead. Is that an option we can configure somewhere?

[2022-01-13 03:07] bernardchu commented on #356
I realize I'm quite late to the party here, but I recently started using `react-imgix` with TypeScript and have found a couple small issues related to the TS definitions. I could open new issues if you'd prefer but I figured I'd start in this thread first.
1. typos - `ImigixParams` and `SharedImigixAndSourceProps` spell `Imgix` incorrectly
2. params are almost all enumerated but `txt64` (and, I'm

[2022-01-14 12:03] frederickfogerty commented on #356
Hey @bernardchu, thanks for commenting on this. We are actively working on updating the TS definitions so we will keep these comments in mind!

[2022-01-16 17:35] chrisirhc opened #841 "Request for support for top-level alt prop"
**Is your feature request related to a problem? Please describe.**
alt text is generally recommended for SEO and accessibility of a website.
These are commonly looked side-by-side with image compression/optimization needs.

**Describe the solution you'd like**
I'd like the `alt` prop to be supported and the value of it passed to the underlying img tag.

**Describe alternatives you've considered**

[2022-01-18 20:45] jperegoy commented on #815
Hey @frederickfogerty, I'm just checking in on this to see if there's been any movement here, as it remains an outstanding issue.

[2022-01-18 23:06] luqven commented on #841
Hey @chrisirhc thanks for taking the time to open up this feature request.

I can see how having `alt` under `htmlAttributes` is a pain point.

If you're up for it, I definitely encourage you to open to a PR where `alt` is exposed as a top-level prop.

In the meantime, I’m going to add this feature request to our backlog until we can discuss it as a team. Once we have a timeline for implementing t

[2022-01-19 18:32] lirbank opened #843 "prop-types should be a direct dependency"
First of all, I love your service!

I believe `prop-types` should be a direct dependency instead of a peer dependency.

We use TypeScript and in TS you don't really use `prop-types` so it's a bit awkward to explicitly install `prop-types` in our project just to satisfy `react-imgix`. It would make more sense if `react-imgix` had a dependency to what ever version of `prop-types` is needed to run `r

[2022-01-20 17:27] sherwinski commented on #815
Hey @jperegoy, we haven't had much movement here as our team has been pretty heads down on two new major projects. We are always happy to review/accept PRs if any one is interested in tackling this in the meantime, as well as talking through designs of how an implementation for this could look.

[2022-01-21 21:15] luqven commented on #843
Hey @lirbank 👋🏼 ,

So glad you’re enjoying using imgix, and thanks for opening this issue.

I can see how having `prop-types` as a peer dep could be annoying for someone using this package with typescript. Ideally, **npm** will [take care of installing](https://nodejs.org/es/blog/npm/peer-dependencies/) whatever peerDeps you need automatically, but this depends on the version. To my knowledge **ya

[2022-01-21 22:48] kupe517 commented on #808
@frederickfogerty How would I use with this `<Imigix>` component?

I am having the same issue. When I pass a src to Imigix component that has a + in the name it encodes the + symbol to `2%2B%25`, but I don't want it to be encoded.

[2022-01-21 23:22] sherwinski commented on #808
Hey @kupe517 you may want to follow the discussion over at #815, which sounds like is related to the issue you are having.

[2022-01-24 03:44] bradcerasani commented on #801
Just ran into this too. Looks like the change was introduced here: https://github.com/imgix/react-imgix/commit/690e7b6279aba5aaef797230fdf59e17ae388c5e

[code]

If `src` does *not* include `://`, `scheme` contains all of `src` and `rest` is _undefined_. When `rest`  is split on the following line, JS throws with _**Cannot read property 'split' of undefined**_.

Confirmed reverting to [v9.0.3](http

[2022-01-24 08:04] frederickfogerty commented on #801
@bradcerasani thanks for thoroughly detailing the issue you're facing, and @Thomas-Cake thanks for responding to this issue. As there is starting to be more support for resolving this issue, I will bring it up with my team again and see if we can prioritise this. If anyone else is reading this, please give the original issue a 👍 reaction or reply below to show that it's also affecting you.

[2022-01-26 20:15] luqven commented on #843
We've had a chance to discuss it and are open to making this change. I can't give you an estimate of when we'll tackle this but I'll post again on this issue once we've had a chance to prioritize this task.

Alternatively, we'd definitely welcome a [PR](https://github.com/imgix/react-imgix/blob/main/CONTRIBUTING.md) for this change.

[2022-02-07 19:17] frederickfogerty commented on #801
Hi everyone! We've discussed this internally since there was support shown for this issue, and we are happy to "support" non-imgix urls for the intent of easier development. The implementation will pass down the url value if it is unable to be parsed, with an accompanying warning. To be clear, we are not going intending to support non-imgix urls in production, but we understand that there are deve

[2022-02-08 21:54] sherwinski commented on #841
Hey @chrisirhc, this prop should now be supported in [v9.4.0](https://github.com/imgix/react-imgix/releases/tag/v9.4.0). Let us know if you have any other questions, thanks!

[2022-02-08 21:54] #841 closed

[2022-02-09 16:13] digeverything commented on #815
👋 Thanks for flagging @jperegoy. This is also an issue for my implementation using image URLs coming from the Prismic CMS api, I've pinned at `8.6.4` for now (but wish I could upgrade to take advantage of features/improvements in 9+).

[2022-02-24 19:01] frederickfogerty commented on #815
Hey @digeverything, and @jperegoy, we've successfully addressed this in #849. Would you mind taking a look at letting us know what you think of the intended interface and if you have any other feedback? We're looking to merge this in next week.

[2022-02-24 19:18] digeverything commented on #815
This looks great to me, I assume this will work with the `ImgixProvider` component? If so, then this will 💯 solve my issue. Thank you for addressing so quickly. Keep up the great work!

[2022-02-25 09:34] frederickfogerty commented on #815
@digeverything I will investigate that today and get back to you 👍

[2022-02-28 12:04] #815 closed

[2022-02-28 12:06] frederickfogerty commented on #815
@digeverything just to confirm here that this is in fact supported by the provider component as well 👍

[2022-03-04 08:04] ahmettahasakar opened #856 "Height and Weight are set to 0"
I tried to have a drop in replacement with my current <img> tags. It seemed to work directly. I am using nextjs. When changing pages of similar designs, the Imgix tags sometimes have weight="0" and height="0". Therefore no image is displayed. I noticed that this is happening, if the previous page had hardcoded height and width, and the next page doesn't have any dimensions specified. Is this a kno

[2022-03-04 19:36] luqven commented on #856
Hey 👋🏼 @ahmettahasakar thanks for opening this issue.

Sounds like you're trying to replace your existing `<img>` tags with our `<Imgix>` component and for some reason, the images when rendered have their `width` and `height` attributes set to `0`.

Without being able to see the code I can't be certain as to why that might be. Do you think you could share an example repo or some example code? Also

[2022-03-08 16:45] jperegoy commented on #815
@frederickfogerty Just a bit behind the times here, but this looks great. Thank yous!

[2022-03-30 03:27] timscullin commented on #815
This works well for <Imgix> components, but not for <Background>.
Should I submit a new issue or is it better to open this one back up?

[2022-03-31 07:50] val3ntin opened #860 "HTML Validation: The width/height properties get rendered to HTML <source> element"
hi,
in this section you refer to the HTML `Picture` tag support:
https://github.com/imgix/react-imgix#picture-support

However, if you use this element, the rendered HTML contains widht/height properties when you specify the width/height once `Source` element is used:

[code]

the `width/height` are get rendered into HTML `source` tag, that's causing an invalid HTML validation:

[code]

Root cause

[2022-04-05 23:04] sherwinski commented on #815
@timscullin I believe you are correct. Do you mind opening up a new issue for this, that way our team can set aside time to look into it.

[2022-04-06 05:20] timscullin opened #863 "Version 9 over-encodes file paths for Background Images"
This is already resolved in #815 but is still an issue for background images.

When using a background image with a space in the url, it may get stored in the database encoded, then re encoded using the imgix background script.

This has been resolved with `disablePathEncoding ` for `<Imgix>` components, but not for `<Background>`.

It would be great if the same solution worked for background 🙏

[2022-04-06 05:21] timscullin commented on #815
Done

[2022-04-06 20:51] sherwinski commented on #863
Hey @timscullin thanks for opening this issue. Our team has noted this issue and we'll set some time to look into this in the next few weeks. I'll post any updates here in the meantime.

[2022-04-26 12:21] willemliufdmg opened #866 "React18 support"
**Before you submit:**

- [:heavy_check_mark: ] Please search through the existing issues (both open AND closed) to see if your issue has been discussed before. GitHub issue search can be used for this: https://github.com/imgix/react-imgix/issues?utf8=%E2%9C%93&q=is%3Aissue
- [ :heavy_check_mark:] Please ensure the problem has been isolated and reduced. This link explains more: http://css-tricks.c

[2022-04-27 05:06] sherwinski commented on #866
Hey @willemliufdmg and thanks for opening this issue. We'll look into this within the next week and get back to you with any updates.

[2022-05-04 21:36] jperegoy commented on #815
This feature appears to have regressed. On a fresh install @ `"react-imgix": "^9.5.0",` I am seeing the original behavior of `%20` being encoded to `%2520` again, though this time with the `disablePathEncoding` bool set to `true`.

Happy to set this up as a new issue, if that's preferable, but opted to keep things tidier here for now.

[2022-05-04 21:45] sherwinski commented on #815
Thanks for the tip @jperegoy, someone from the team will investigate and report back here. And we can keep the conversation here for now.

[2022-05-05 00:11] jperegoy commented on #815
Scratch this. Issue does not appear to be related to Imgix, but rather some ambitious encoding hidden away in ReactDomServer's rendering methods. Sorry for the false alarm, carry on.

[2022-05-09 15:05] alan-cooney commented on #866
Looks like this is being resolved in #862 - any update on that?

[2022-05-09 23:46] sherwinski commented on #866
Hi @alan-cooney, our team is actively investigating this at the moment so I'll post any updates here as soon as I have them.

[2022-05-11 20:37] sherwinski commented on #866
Hey everyone, the latest release ([v9.5.1](https://github.com/imgix/react-imgix/releases/tag/v9.5.1)) should now support react 18 🎉
Closing this now but feel free to comment back if there are any further questions/issues.

[2022-05-11 20:37] #866 closed

[2022-06-09 21:25] jayeb opened #870 "Version 9.5.1 is sending `react-9.5.1-beta.1` in `ixlib` param"
**Before you submit:**

- [x] Please search through the existing issues (both open AND closed) to see if your issue has been discussed before. GitHub issue search can be used for this: https://github.com/imgix/react-imgix/issues?utf8=%E2%9C%93&q=is%3Aissue
- [x] Please ensure the problem has been isolated and reduced. This link explains more: http://css-tricks.com/6263-reduced-test-cases/

**Descr

[2022-06-09 22:57] sherwinski commented on #870
Hey @jayeb! Thanks for calling this out. One of us (most likely me) will look into this sometime over the next week.
Hope you're doing well 🥳

[2022-06-13 18:44] jamiechong commented on #805
@frederickfogerty  was there any discussion with your team to add this feature? It'd be super helpful for us. We've looked into trying to use buildUrl, but it hasn't really helped.

[2022-06-14 07:57] frederickfogerty commented on #805
Hey @jamiechong, I am no longer an engineer at @imgix, please contact either @sherwinski or @luqven instead

[2022-06-17 16:01] jamiechong commented on #805
@sherwinski  or @luqven  care to reopen this ticket?

[2022-06-17 18:27] sherwinski commented on #805
Hey @jamiechong, I'm happy to re-open this and discuss with the team what a solution could look like. I can't guarantee a timeline right now but it is noted in our backlog for further investigation.

[2022-06-21 22:28] sherwinski commented on #856
Closing this as there hasn't been much activity or follow up. @ahmettahasakar please let us know this is still an issue or if you came across a workaround that you're willing to share.

[2022-06-21 22:28] #856 closed

[2022-06-22 20:00] sherwinski commented on #480
Closing as this issue is quite old and there hasn't been any movement on it.

[2022-06-22 20:00] #480 closed

[2022-06-22 20:16] sherwinski commented on #870
Hey @jayeb, our team did some digging and we _think_ this is a one-off issue caused by #868 . Unfortunately, there isn't any real code change we can make to remediate it at this point but we suspect things will be fixed once the latest stable release is published.

[2022-07-26 19:26] #870 closed

[2022-07-26 19:40] sherwinski commented on #870
Confirmed this is fixed in the latest release, thanks again @jayeb!

[2022-07-26 19:50] jayeb commented on #870
Thats a doozy! Thanks for fixing, Sherwin.

[2022-09-09 09:44] RomanPersikov opened #873 "image not showing in microsoft edge"
Hello!
I get a picture from https://myproject.imgix.net/operator/5413/logo/ and it is displayed correctly in google chrome, but is not displayed in microsoft edge. Can you please tell me why this is happening and how to fix it?

[2022-09-09 17:33] sherwinski commented on #873
Hey there @RomanPersikov 👋

Can you provide the full image URL? This URL appears to be missing a file name.
If you'd prefer to not send it over a public channel like GH, please feel free to write in to our [support team](support@imgix.com) and they will be able to help you.

[2022-09-14 21:56] luqven commented on #873
Hey @RomanPersikov,

Were you able to send us the full URL?

Again, if you'd prefer to not send it over a public channel like GH, please feel free to write in to our [support team](https://github.com/orgs/imgix/projects/4/views/support@imgix.com) and they will be able to help you.

[2022-09-16 17:20] luqven commented on #873
Closing this issue unless/until more information can be provided. Please feel free to comment if you're still experiencing this issue and thank you again for reporting it.

[2022-09-16 17:20] #873 closed

[2022-09-16 19:11] luqven commented on #863
Hey @timscullin, following up on this briefly.

Looks like we could update `react-imgix-bg.jsx`'s `renderSrc()` [function](https://github.com/imgix/react-imgix/blob/a16b841d40dbfd11bacf0311291747dbff06efac/src/react-imgix-bg.jsx#L155-L168) on line 155 to be something like:

[code]

We'd also need to add some tests to [`encoding.test.ts`](https://github.com/imgix/react-imgix/blob/main/test/unit/enc

[2022-09-29 18:36] luqven commented on #860
Hey @val3ntin,

I wanted to check in to see if this release fixed this issue for you.

I'm using it in this [codesandbox](https://codesandbox.io/s/react-imgix-responsive-gallery-picuture-source-ub09t) and seems like the source tag is behaving as intended.

[2022-09-30 17:08] luqven commented on #717
There hasn't been any movement on this issue for some time so I'm going to go ahead and close it. If you're still having an issue/have a question, please comment and I'll be sure to re-open it.

FWIW, I think the issue above stemmed from use of the `src` prop for the LQIP:

[code]

If you're looking for our LQIP documentation, read [here](https://github.com/imgix/react-imgix#low-quality-image-plac

[2022-09-30 17:08] #717 closed

[2022-09-30 17:38] luqven commented on #723
Looks like #807 addressed this issue. Going to go ahead and close this.

If you're still having an issue/questions, please comment and I'll be sure to re-open it.

[2022-09-30 17:38] #723 closed